@font-face {
    font-family: 'stmicons';
    src: url('stmicons.eot?qceycv');
    src: url('stmicons.eot?qceycv#iefix') format('embedded-opentype'), url('stmicons.ttf?qceycv') format('truetype'), url('stmicons.woff?qceycv') format('woff'), url('stmicons.svg?qceycv#stmicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="stmicon-"], [class*=" stmicon-"] {
    font-family: 'stmicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.stmicon-head_3:before {
    content: "\10ffe7";
}

.stmicon-head_2:before {
    content: "\10ffe8";
}

.stmicon-head_1:before {
    content: "\10ffe9";
}

.stmicon-psychologist-map-pin-o:before {
    content: "\10ffea";
}

.stmicon-psychologist-map-pin:before {
    content: "\10ffeb";
}

.stmicon-psychologist-message:before {
    content: "\10ffec";
}

.stmicon-subject:before {
    content: "\10ffed";
}

.stmicon-fax2:before {
    content: "\10ffee";
}

.stmicon-psychologist-zoom:before {
    content: "\10ffef";
}

.stmicon-psychologist-user:before {
    content: "\10fff0";
}

.stmicon-psychologist-paper-plane:before {
    content: "\10fff1";
}

.stmicon-location:before {
    content: "\10fff2";
}

.stmicon-grid-world:before {
    content: "\10fff3";
}

.stmicon-share:before {
    content: "\10fff4";
}

.stmicon-psychologist_chevron-left:before {
    content: "\10fff5";
}

.stmicon-psychologist_chevron-right:before {
    content: "\10fff6";
}

.stmicon-psychologist_clock:before {
    content: "\10fff7";
}

.stmicon-psychologist_envelope:before {
    content: "\10fff8";
}

.stmicon-psychologist_envelope2:before {
    content: "\10fff9";
}

.stmicon-psychologist_minus:before {
    content: "\10fffa";
}

.stmicon-psychologist_pencil:before {
    content: "\10fffb";
}

.stmicon-psychologist_calendar:before {
    content: "\10fffc";
}

.stmicon-plus:before {
    content: "\10fffd";
}

.stmicon-phone:before {
    content: "\10fffe";
}

.stmicon-mail_outline:before {
    content: "\10ffff";
}