/*COLORS*/
/*FONTS*/
.stm_layout_portfolio .stm_contact__image {
    position: relative;
    top: 10px;
}

.stm_contact_style_3 {
    margin-bottom: 25px;
    display: -ms-flexbox;
    display: flex;
}

.stm_contact_style_3:after {
    content: '';
    display: block;
    clear: both;
}

.stm_contact_style_3 .stm_contact__image {
    float: left;
    margin-right: 20px;
    padding-bottom: 15px;
    -ms-flex: 1 0 82px;
    flex: 1 0 82px;
}

.stm_contact_style_3 .stm_contact__image img {
    border-radius: 50%;
}

.stm_contact_style_3 .stm_contact__info {
    overflow: hidden;
    width: 100%;
    font-size: 13px;
}

.stm_contact_style_3 .stm_contact__job {
    margin: 0 0 -1px;
    font-size: 14px;
}

.stm_contact_style_3 .stm_contact__row {
    margin-bottom: 5px;
}

.stm_contact_style_3 h5 {
    margin: 0 0 8px 0;
}

.stm_contact_style_3 .stm_contact__row {
    margin-bottom: 0;
}

.stm_contact_style_3 .stm_contact__row strong {
    font-weight: 400;
}

.stm_contact_style_3 .stm_contact__row a {
    display: inline-block;
}
