.stm_donation_style_1 {
    position: relative;
}

.stm_donation_style_1 .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.stm_donation_style_1 .stm_donation__wrapper {
    text-align: center;
}

.stm_donation_style_1 .stm_donation__wrapper:hover .stm_donation__image img {
    transform: scale(1.1);
}

.stm_donation_style_1 .stm_donation__details {
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 40px 40px 30px 40px;
}

.stm_donation_style_1 .stm_donation__details-wrapper {
    padding: 0 30px;
    margin: -50px 0 55px;
    position: relative;
    z-index: 10;
}

.stm_donation_style_1 .stm_donation__image {
    transition: .3s;
    position: relative;
    z-index: 10;
    overflow: hidden;
    min-height: 150px;
}

.stm_donation_style_1 .stm_donation__image img {
    width: 100%;
    transition: .3s;
}

.stm_donation_style_1 .stm_donation__progress-bar {
    border-radius: 3px 0 0 3px;
    display: block;
    height: 8px;
    margin: -1px 0 0 -1px;
}

.stm_donation_style_1 .stm_donation__progress-bar-wrapper {
    border: 1px solid #dddddd;
    border-radius: 3px;
    height: 8px;
    margin-bottom: 10px;
}

.stm_donation_style_1 .stm_donation__donated-info {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.stm_donation_style_1 .stm_donation__end {
    line-height: 18px;
    font-size: 13px;
    color: #999999;
    margin-bottom: 10px;
}

.stm_donation_style_1 .stm_donation__donated-info {
    line-height: 20px;
}

.stm_donation_style_1 .stm_donation__title h5 {
    min-height: 55px;
    margin-bottom: 5px;
    line-height: 1.1em;
    font-size: 18px;
}

.stm_donation_style_1 .stm_donation__title h5:before {
    margin: 0 auto 21px;
}

.stm_donation_style_1 .stm_donation__title a {
    text-decoration: none;
}

@media (max-width: 1023px) {
    .stm_donation_style_1 {
        text-align: center;
    }

    .stm_donation_style_1 .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .stm_donation_style_1 .row:before {
        display: none;
    }

    .stm_donation_style_1 .stm_donation__title h5 {
        margin-bottom: 12px;
        min-height: 0;
    }

    .stm_donation_style_1 .stm_donation__wrapper {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        width: 50%;
    }

    .stm_donation_style_1 .stm_donation__details {
        padding: 20px 25px 30px 25px;
    }

    .stm_donation_style_1 .stm_donation__details-wrapper {
        padding: 0;
        margin-top: 0;
    }

    .stm_donation_style_1 .stm_donation__end-timer {
        line-height: 18px;
    }
}

@media (max-width: 550px) {
    .stm_donation_style_1 .row {
        display: block;
    }

    .stm_donation_style_1 .row .stm_donation__wrapper {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        width: 100%;
    }
}
