.stm_separator_style_2 .stm_separator {
    display: block;
    width: 46px;
    height: 5px;
    margin: 0 0 21px;
    width: 100%;
    background-color: transparent !important;
    background: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.15) 5px, rgba(0, 0, 0, 0.15) 10px, transparent 10px, transparent 15px);
}

.stm_separator_style_2 .stm_separator_doubled {
    position: relative;
}

.stm_separator_style_2 .stm_separator_doubled:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    right: 100%;
    opacity: 0;
}
