.stm_separator_wrapper {
    position: relative;
}

.stm_separator_style_4 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 21px;
}

.stm_separator_style_4 .stm_separator {
    display: block;
    width: 46px;
    height: 5px;
    margin: 0;
}

.stm_separator_style_4:after {
    margin-left: 2px;
    content: '';
    display: block;
    width: 100%;
    background-color: #d1d1d1;
    height: 1px;
}

.contrast .stm_separator_style_4:after {
    opacity: .5;
}
