.btn {
    padding: 10px 43px 12px;
    border-radius: 27px;
    text-transform: none;
    font-size: 16px;
    font-weight: 700;
}

.btn__icon {
    top: -2px;
    bottom: -2px;
}

.btn_icon-right .btn__icon {
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
}

.btn_icon-right .btn__icon:before {
    position: relative;
    left: -2px;
}

.btn_icon-left .btn__icon {
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
}

.btn_icon-left .btn__icon:before {
    position: relative;
    right: -2px;
}

.btn.btn_subtitle {
    padding: 7px 15px;
    border-radius: 3px;
}

.btn.btn_outline {
    border-width: 2px;
}

.btn.btn_outline:hover {
    color: #fff !important;
}

button[type="submit"]:not(.btn),
input[type="submit"]:not(.btn) {
    padding: 10px 43px 12px;
    border-radius: 27px;
    text-transform: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.search-form button {
    border-radius: 0;
}
