.stm_buttons_style_24 .btn {
    height: 50px;
    padding: 14px 40px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Montserrat";
    font-weight: bold;
    border-radius: 40px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    overflow: hidden;
}

.stm_buttons_style_24 .btn--full {
    width: 100%;
}

.stm_buttons_style_24 .btn.btn_subtitle {
    padding: 8px 15px;
}

@media (max-width: 767px) {
    .stm_buttons_style_24 .btn {
        padding: 14px 20px !important;
    }
}
