.btn {
    border-width: 2px;
    padding: 17px 35px;
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
}

.btn.btn_lg {
    padding: 15px 52px !important;
}

.btn.btn_sm {
    padding: 10px 20px;
}

.btn.btn_subtitle {
    padding-top: 8px;
    padding-bottom: 12px;
}

.btn_icon-bg .btn__icon {
    right: -2px;
    top: -2px;
    bottom: -2px;
}

.btn_icon-right {
    padding-right: 40px !important;
}

.btn_icon i {
    top: 0;
    bottom: 0;
    width: 50px;
}

.btn .btn__label {
    font-size: 14px;
    font-weight: 600;
}

body .stm_slider .stm_slide__button a:after {
    line-height: 45px;
}

.btn.btn_outline.btn_primary.btn_load:hover:before,
.btn.btn_outline.btn_primary.btn_load:hover span,
.btn.btn_outline.btn_primary:hover {
    color: #fff !important;
}

@media (max-width: 1023px) {
    .btn.btn_primary.btn_solid {
        padding: 15px 30px;
    }
}
