/*COLORS*/
/*FONTS*/
.stm_icontext {
    vertical-align: top;
}

.stm_icontext a {
    text-decoration: none !important;
    color: inherit;
}

.stm_icontext__text {
    vertical-align: top;
}

.stm_icontext__text span {
    display: block;
    overflow: hidden;
}

.stm_icontext__icon {
    float: left;
}

.stm_icontext_style_1 .stm_icontext__text {
    font-weight: 700;
}
