/*COLORS*/
/*FONTS*/
.stm_icontext {
    vertical-align: top;
}

.stm_icontext a {
    text-decoration: none !important;
    color: inherit;
}

.stm_icontext__text {
    vertical-align: top;
}

.stm_icontext__text span {
    display: block;
    overflow: hidden;
}

.stm_icontext__icon {
    float: left;
}

.stm_icontext_style_4 .stm_icontext__text {
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
}

.stm_icontext_style_4 .stm_icontext__icon {
    padding: 8px;
    margin: 0 0 0 15px !important;
    float: none;
    -ms-flex-order: 100;
    order: 100;
    color: #fff;
    border-radius: 50%;
}

.stm_icontext_style_4.text-right .stm_icontext__text {
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (max-width: 550px) {
    .stm_icontext_style_4.text-right .stm_icontext__text {
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}
