/*BA*/
.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group:before {
    position: absolute;
    font-family: 'stmicons';
    line-height: 50px;
    left: 15px;
    z-index: 1;
    color: #002040;
}

.form-group .wpcf7-form-control-wrap {
    margin-bottom: 0;
}

.form-group input[type=text],
  .form-group input[type=email],
  .form-group input[type=tel],
  .form-group input[type=number]
textarea {
    font-size: 16px;
    color: #999;
}

.form-group input[type=text].wpcf7-not-valid,
    .form-group input[type=email].wpcf7-not-valid,
    .form-group input[type=tel].wpcf7-not-valid,
    .form-group input[type=number]
textarea.wpcf7-not-valid {
    border-color: #ff0000;
}

.stm_input_wrapper {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 17px;
    height: 17px;
}

.stm_input_wrapper:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border: 2px solid transparent;
    border-radius: 2px;
}

.stm_input_wrapper:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 18px;
    text-indent: 1px;
    font-size: 11px;
    color: #fff;
    opacity: 0;
    z-index: 10;
}

.stm_input_wrapper input[type="radio"],
  .stm_input_wrapper input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    opacity: 0;
    z-index: 50;
}

.stm_input_wrapper.active:after {
    opacity: 1;
}

.stm_input_wrapper.error:before {
    border-color: red !important;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.textarea_230 textarea {
    min-height: 233px !important;
}

.mc4wp-form .btn_fullwidth {
    width: 100% !important;
}

.stm_shop_layout_store .woocommerce-ordering {
    z-index: 50;
}

.stm_select {
    z-index: 500 !important;
}

.stm_select.open {
    z-index: 1111111 !important;
}

.stm_select__dropdown {
    transition: all .3s ease;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    padding: 0;
    top: 100%;
    left: 0;
    right: 0;
    min-height: 150px;
    max-height: 250px;
    overflow-y: scroll;
    border: 1px solid #eee;
    background-color: #fff;
}

.stm_select__dropdown li span {
    transition: all .15s ease;
    padding: 10px 15px;
    display: block;
    font-size: 14px;
}

.stm_select__dropdown li span:hover {
    background-color: #eee;
}

.stm_select select {
    cursor: pointer;
    display: none !important;
}

.stm_select select option {
    display: none;
    position: absolute;
    left: 10000000%;
}

.stm_select:after {
    content: '';
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4.5px 0 4.5px;
    border-color: #a6a9aa transparent transparent transparent;
    top: 50%;
    transform: translateY(-50%);
}

.stm_select.open .stm_select__dropdown {
    visibility: visible;
    opacity: 1;
}

.stm_select.open .stm-select__val + .stm_select__dropdown {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 550px) {
    .wpcf7-list-item-label {
        display: inline-block;
        margin-bottom: 15px;
    }
}

.stm_form_style_8 .form-group {
    margin-bottom: 30px;
}

.stm_form_style_8 select,
.stm_form_style_8 input[type="text"],
.stm_form_style_8 input[type="email"],
.stm_form_style_8 input[type="search"],
.stm_form_style_8 input[type="password"],
.stm_form_style_8 input[type="number"],
.stm_form_style_8 input[type="date"],
.stm_form_style_8 input[type="tel"],
.stm_form_style_8 textarea,
.stm_form_style_8 .stm_select,
.stm_form_style_8 .stm_select .form-control {
    height: 50px;
    font-size: 18px;
    background: #f1eee7;
    border-color: #f1eee7;
    border-width: 2px;
    border-radius: 0;
    color: #000;
}

.stm_form_style_8 select::-webkit-input-placeholder,
  .stm_form_style_8 input[type="text"]::-webkit-input-placeholder,
  .stm_form_style_8 input[type="email"]::-webkit-input-placeholder,
  .stm_form_style_8 input[type="search"]::-webkit-input-placeholder,
  .stm_form_style_8 input[type="password"]::-webkit-input-placeholder,
  .stm_form_style_8 input[type="number"]::-webkit-input-placeholder,
  .stm_form_style_8 input[type="date"]::-webkit-input-placeholder,
  .stm_form_style_8 input[type="tel"]::-webkit-input-placeholder,
  .stm_form_style_8 textarea::-webkit-input-placeholder,
  .stm_form_style_8 .stm_select::-webkit-input-placeholder,
  .stm_form_style_8 .stm_select .form-control::-webkit-input-placeholder {
    color: #aaaaaa;
}

.stm_form_style_8 select:focus,
  .stm_form_style_8 input[type="text"]:focus,
  .stm_form_style_8 input[type="email"]:focus,
  .stm_form_style_8 input[type="search"]:focus,
  .stm_form_style_8 input[type="password"]:focus,
  .stm_form_style_8 input[type="number"]:focus,
  .stm_form_style_8 input[type="date"]:focus,
  .stm_form_style_8 input[type="tel"]:focus,
  .stm_form_style_8 textarea:focus,
  .stm_form_style_8 .stm_select:focus,
  .stm_form_style_8 .stm_select .form-control:focus {
    background: #fff;
}

.stm_form_style_8 .form-group {
    margin-bottom: 22px;
}

.stm_form_style_8 .form-group label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
}

.stm_form_style_8 textarea {
    padding-top: 10px;
    min-height: 107px;
}

.stm_form_style_8 .text-center .wpcf7-submit {
    margin-top: 25px;
}

.stm_form_style_8 .stm_cf7 .form-group i {
    font-size: 18px;
    position: absolute;
    left: 10px;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    text-align: center;
    text-align: center;
}

.stm_form_style_8 .stm_cf7 .form-group i.stmicon-bon-envelope {
    font-size: 15px;
}

.stm_form_style_8 .stm_cf7 .form-group i.stmicon-bon-phone {
    font-size: 21px;
}

.stm_form_style_8 .stm_cf7 .form-group label + i {
    top: 65px !important;
}

.stm_form_style_8 .stm_cf7 .row [class*=col-xs-] {
    line-height: 50px;
    font-size: 21px;
}

body .ui-timepicker-container {
    max-width: 9999px !important;
}

body .ui-timepicker-container .ui-timepicker li a {
    font-family: inherit !important;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
    font-size: 14px;
}

::-moz-placeholder {
  /* Firefox 19+ */
    font-size: 14px;
}

:-ms-input-placeholder {
  /* IE 10+ */
    font-size: 14px;
}

:-moz-placeholder {
  /* Firefox 18- */
    font-size: 14px;
}

.wpcf7-submit + .ajax-loader {
    display: none;
    margin-top: 25px !important;
    margin-right: -16px !important;
}
