@font-face {
    font-family: 'stmicons';
    src: url('stmicons.eot?9xncfs');
    src: url('stmicons.eot?9xncfs#iefix') format('embedded-opentype'), url('stmicons.ttf?9xncfs') format('truetype'), url('stmicons.woff?9xncfs') format('woff'), url('stmicons.svg?9xncfs#stmicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="stmicon-"], [class*=" stmicon-"] {
    font-family: 'stmicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.stmicon-pearl-politician_arrow_left:before {
    content: "\d960f";
}

.stmicon-pearl-politician_briefcase:before {
    content: "\d9610";
}

.stmicon-pearl-politician_calendar:before {
    content: "\d9611";
}

.stmicon-pearl-politician_chair:before {
    content: "\d9612";
}

.stmicon-pearl-politician_coins:before {
    content: "\d9613";
}

.stmicon-pearl-politician_envelope:before {
    content: "\d9614";
}

.stmicon-pearl-politician_medical:before {
    content: "\d9615";
}

.stmicon-pearl-politician_safety:before {
    content: "\d9616";
}

.stmicon-pearl-politician_scheudle:before {
    content: "\d9617";
}

.stmicon-pearl-politician_zip_code:before {
    content: "\d9618";
}