a.stm_projects_card {
    display: block;
    position: relative;
    width: 25%;
    float: left;
    padding: 0 15px;
    margin-bottom: 30px;
}

a.stm_projects_card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.35s;
    z-index: 100;
}

a.stm_projects_card_2x {
    width: 50%;
}

a.stm_projects_card_3x {
    width: 33.33%;
}

a.stm_projects_card_4x .stm_projects_cards__title {
    font-size: 30px;
    line-height: 1.3;
}

.stm_projects_cards_style_4 {
    margin: 0 -5px;
}

.stm_projects_cards_style_4 .stm_projects_cards__image {
    display: inline-block;
    vertical-align: top;
}

.stm_projects_cards_style_4 .stm_projects_cards__info {
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    color: #fff;
    z-index: 199;
}

.stm_projects_cards_style_4 .stm_projects_cards__tags {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    white-space: nowrap;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0;
    z-index: 20;
    transform: translate3D(0, 10px, 0);
    transition: opacity 0.35s, transform 0.35s, translate3D 0.35s;
}

.stm_projects_cards_style_4 .stm_projects_cards__title {
    width: 100%;
    padding: 0 28px;
    margin-bottom: 30px;
    color: #fff !important;
    line-height: 1.1em;
    font-weight: 400;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s, translate3D 0.35s;
    transform: translate3D(0, 10px, 0);
}

.stm_projects_cards_style_4 .stm_projects_card {
    padding: 0 5px;
    margin-bottom: 10px;
}

.stm_projects_cards_style_4 .stm_projects_card:after {
    left: 5px;
    right: 5px;
}

.stm_projects_cards_style_4 .stm_projects_card:hover:after {
    opacity: 0.5;
}

.stm_projects_cards_style_4 .stm_projects_card:hover .stm_projects_cards__tags {
    transform: translateZ(0);
    opacity: 1;
}

.stm_projects_cards_style_4 .stm_projects_card:hover .stm_projects_cards__title {
    transform: translateZ(0);
    opacity: 1;
}

.stm_projects_cards_style_4 .stm_projects_cards__image {
    overflow: hidden;
}

.stm_projects_cards_style_4 .stm_projects_cards__image img {
    transition: transform 0.35s;
}

.stm_projects_cards_style_4 .btn.loading {
    border-color: transparent !important;
}

.stm_projects_cards_style_4 .btn.loading:before {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: none;
    animation: scaleout 1.0s infinite ease-in-out;
    transition: all 0.5s ease-in-out;
    margin: -16px 0 0 -13px;
    content: '';
    background-color: #000;
}

.stm_projects_cards_style_4 .btn.infinite {
    border-color: transparent !important;
    background: transparent !important;
}

.stm_projects_cards_style_4 .btn.infinite span {
    opacity: 0;
    visibility: hidden;
}

.stm_projects_cards__filter {
    margin: 0 -10px 7px;
    padding: 0;
    list-style: none;
}

.stm_projects_cards__filter li {
    display: inline-block;
    margin: 0 15px 8px;
}

.stm_projects_cards__filter li a {
    display: block;
    padding-bottom: 12px;
    position: relative;
    color: #000 !important;
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none !important;
    text-transform: uppercase;
}

.stm_projects_cards__filter li a:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: transform .3s ease;
    transform: scale(0);
}

.stm_projects_cards__filter li a:hover:after {
    transform: scale(1);
}

.stm_projects_cards__filter li.active a:after {
    transform: scale(1);
}

@media (max-width: 1024px) {
    .stm_projects_cards_style_4 .stm_projects_card {
        transition: 0s ease !important;
        width: 50%;
    }

    .stm_projects_cards_style_4 .stm_projects_card img {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .stm_projects_cards_style_4 .stm_projects_card {
        transition: 0s ease !important;
        width: 100%;
    }

    .stm_projects_cards_style_4 .stm_projects_card img {
        width: 100%;
    }
}
