.stm_progress_bar_style_1 .vc_single_bar {
    margin-bottom: 45px !important;
}

.stm_progress_bar_style_1 .vc_single_bar .vc_label {
    line-height: 1;
    padding-bottom: 15px !important;
}

.stm_progress_bar_style_1 .vc_single_bar .vc_label:after {
    display: none;
}

.stm_progress_bar_style_1 .vc_single_bar .vc_label .vc_label_units {
    float: right;
}
