/*COLORS*/
/*FONTS*/
.stm_floating_gallery_style_1 {
    height: 842px;
    overflow: hidden;
}

.stm_floating_gallery_style_1 .stm_floating_gallery__cell {
    width: 288px;
    margin-right: 45px;
}

.stm_floating_gallery_style_1 .stm_floating_gallery__cell img {
    width: 100%;
    height: auto;
    margin-bottom: 45px;
}

.stm_floating_gallery_style_1 .stm_floating_gallery__cell img:last-child {
    margin-bottom: 0;
}
