.sticky {
    position: relative;
}

.stm_loop__list {
  /*No image*/
}

.stm_loop__list.stm_loop {
    margin: 0;
}

.stm_loop__list.stm_no_thumbnail.stm_loop__single a.inner {
    min-height: inherit;
    background-color: transparent !important;
    text-decoration: none !important;
}

.stm_loop__list.stm_no_thumbnail.stm_loop__single a.inner h3 {
    position: static;
    padding: 20px 0;
}

.stm_loop__list.stm_no_thumbnail.stm_loop__single a.inner h3:after, .stm_loop__list.stm_no_thumbnail.stm_loop__single a.inner h3:before {
    display: none !important;
}

.stm_loop__list.stm_no_thumbnail.stm_loop__single .stm_sticky_post {
    display: none;
}

.stm_loop__list.stm_no_thumbnail.stm_loop__single.sticky .stm_sticky_post {
    display: inline-block;
    position: static;
    top: -21px;
    left: -21px;
    background-color: #d8bf3e !important;
    color: #fff !important;
}

.stm_loop__list .stm_loop__single {
    position: relative;
    padding: 20px;
    border: 1px solid #ccc;
}

.stm_loop__list .stm_loop__single .stm_sticky_post {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    z-index: 10;
}

.stm_loop__list .stm_loop__single:hover {
    border-color: transparent;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
}

.stm_loop__list .stm_loop__single:hover h3:before {
    opacity: 0;
}

.stm_loop__list .stm_loop__single:hover h3:after {
    opacity: 0.8;
}

.stm_loop__list .stm_loop__single a.inner {
    display: block;
    position: relative;
    min-height: 120px;
}

.stm_loop__list .stm_loop__single h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 30px 14px;
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    z-index: 20;
}

.stm_loop__list .stm_loop__single h3:after, .stm_loop__list .stm_loop__single h3:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: -20px;
    margin-bottom: 0 !important;
    opacity: 1;
    background: linear-gradient(to top, rgba(35, 38, 40, 0.9), rgba(35, 38, 40, 0)) !important;
    z-index: 22;
}

.stm_loop__list .stm_loop__single h3:after {
    opacity: 0;
    background: none !important;
}

.stm_loop__list .stm_loop__single h3 span {
    position: relative;
    z-index: 25;
}

.stm_loop__list .stm_loop__single .post_thumbnail {
    max-height: 354px;
    overflow: hidden;
}

.stm_post_details {
    padding: 15px 30px;
    margin: 0;
    border: 0;
}

.stm_post_details ul li {
    color: #fff;
    text-transform: none;
    font-size: 13px;
    font-weight: 400;
}

.stm_post_details ul li a {
    color: #fff;
    text-transform: none;
    font-size: 13px;
    font-weight: 400;
}

.stm_post_details ul li i {
    position: relative;
    top: 1px;
    margin-right: 5px;
    font-size: 16px;
}

.stm_post_details ul li:before {
    display: none;
}

.stm_post_details .comments_num {
    font-weight: 400;
    margin-top: 0;
}

.stm_post_details .comments_num i {
    position: relative;
    top: 4px;
    margin-right: 5px;
    font-size: 16px;
}

.stm_loop__grid .stm_loop__single {
    margin-bottom: 15px;
}

.stm_loop__grid .stm_loop__single .stm_sticky_post {
    position: absolute;
    top: 0;
    left: 15px;
    padding: 5px 15px;
    z-index: 10;
}

.stm_loop__grid .stm_loop__single h5 {
    min-height: 44px;
    line-height: 1.3em;
}

.stm_loop__grid .stm_loop__single img {
    width: 100%;
}

.stm_loop__grid .stm_loop__single .postinfo_grid {
    padding-top: 15px;
    border-top: 1px solid #ccc;
}

.stm_loop__grid .stm_loop__single .postinfo_grid > div {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    font-size: 13px;
}

.stm_loop__grid .stm_loop__single .postinfo_grid > div span {
    opacity: 0.6;
}

.stm_loop__grid .stm_loop__single .postinfo_grid > div i {
    position: relative;
    top: 2px;
    margin-right: 3px;
    font-size: 16px;
}

.stm_loop__grid .stm_loop__single .postinfo_grid > div:last-child {
    margin-right: 0;
}

.stm_loop__grid .stm_loop__single:hover .postinfo_grid > div span {
    opacity: 1;
}

.stm_single_post_style_1 h1 {
    margin-bottom: 35px;
}

.stm_single_post_style_1 .stm_post_details {
    padding: 11px 15px 9px;
}

.stm_single_post_style_1 .stm_post_panel {
    margin: 0 0 30px;
    padding: 13px 20px;
}

.stm_single_post_style_1 .stm_post_panel .stm_single_post__tags i {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
    transform: rotate(90deg);
}

.stm_single_post_style_1 .stm_author_box {
    background: transparent;
    border: 1px solid #eeeff2;
    background-color: #eeeff2;
}

.stm_single_post_style_1 .stm_author_box__name {
    margin: -4px 0 3px 0;
    color: inherit;
    text-transform: none;
    font-size: 14px;
}

.stm_single_post_style_1 .stm_author_box__name strong {
    margin-top: -1px;
    text-transform: uppercase;
}

.stm_single_post_style_1 .stm_author_box__content {
    line-height: 24px;
}

ul.comment-list .comment .vcard img {
    border: 0;
    border-radius: 50%;
}

ul.comment-list .comment .comment-meta {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 13px;
    text-transform: none;
    color: #888;
}

ul.comment-list .comment .comment-meta a {
    color: #888;
}

ul.comment-list .comment .comment-author a {
    font-size: 15px;
}

ul.comment-list .comment .comment-text p {
    line-height: 22px;
}

ul.comment-list .children > li {
    position: relative;
    border-color: #ccc;
}

ul.comment-list .children > li .vcard {
    width: 70px;
}

ul.comment-list .children > li:before {
    content: '';
    top: -6px;
    width: 10px;
    height: 10px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background: #fff;
    transform: rotate(45deg);
}

ul.comment-list .children .children > li:before {
    left: 37px;
}

ul.comment-list .children .children .children {
    margin-left: 0;
}

.comment-reply-title,
.comments-title {
    font-size: 26px;
    font-weight: 600;
}

.comment-reply-title {
    margin-bottom: 20px;
}

.comment-reply-link i {
    margin-right: 5px;
}

.stm_post_comments .comment-form {
    padding: 20px 55px 25px;
    background: #eeeff2;
}

.stm_post_comments .comment-form .form-group {
    margin-bottom: 40px;
}

@media (max-width: 1023px) {
    .stm_loop__grid .stm_loop__single {
        width: 50%;
    }

    .stm_single_post_style_1 .stm_post_panel {
        padding: 15px 20px;
    }

    .stm_single_post_style_1 .stm_post_panel .stm_single_event__share {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }

    .stm_single_post_style_1 .stm_post_panel .stm_single_event__share a:first-child {
        margin-left: 0;
    }
}

@media (max-width: 550px) {
    .stm_loop__grid .stm_loop__single {
        width: 100%;
    }

    .stm_loop__list .stm_loop__single {
        padding: 0;
        border: 0;
    }

    .stm_loop__list .stm_loop__single h3 {
        font-size: 18px;
        line-height: 22px;
    }

    .stm_loop__list .stm_loop__single h3:before {
        top: -55px;
    }

    .stm_single_post_style_1 .stm_post_details {
        padding: 15px;
    }

    .stm_single_post_style_1 .stm_post_details ul li {
        display: block;
        width: 100%;
        margin: 0 0 15px;
    }

    ul.comment-list .comment .vcard {
        display: none;
    }

    ul.comment-list .comment .comment-author {
        float: none;
    }

    ul.comment-list .comment .commentmetadata {
        margin-top: 10px;
        float: none;
        text-align: left;
    }

    ul.comment-list .comment .children {
        margin-left: 0;
    }

    .stm_post_comments .comment-form {
        padding: 20px;
    }
}
