.stm_post_style_7 .stm_loop__grid .stm_posts_list_single {
    width: 33.33%;
    font-size: 14px;
    margin-bottom: 40px !important;
    padding: 0 15px;
}

.stm_post_style_7 .stm_loop__grid .stm_posts_list_single:last-child {
    margin-bottom: 0;
}

.stm_post_style_7 .stm_loop__grid .stm_posts_list_single__body {
    padding: 30px 40px 30px 40px;
    border: 1px solid #e6e6e6;
    border-top: 0;
}

.stm_post_style_7 .stm_loop__grid .stm_posts_list_single__info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.stm_post_style_7 .stm_loop__grid .stm_posts_list_single__info i {
    margin-right: 5px;
}

.stm_post_style_7 .stm_loop__grid .stm_posts_list_single h5 {
    line-height: 24px !important;
    cursor: pointer !important;
}

.stm_post_style_7 .stm_loop__grid .stm_posts_list_single h5 a {
    cursor: pointer !important;
}

.stm_post_style_7 .stm_loop__grid .stm_posts_list_single__excerpt p {
    line-height: 24px;
}

.stm_post_style_7 .stm_loop__grid .stm_posts_list_single:hover .stm_posts_list_single__container {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.stm_post_style_7 .stm_loop__list .stm_posts_list_single {
    font-size: 14px;
    margin-bottom: 40px !important;
}

.stm_post_style_7 .stm_loop__list .stm_posts_list_single__container {
    display: -ms-flexbox;
    display: flex;
}

.stm_post_style_7 .stm_loop__list .stm_posts_list_single:last-child {
    margin-bottom: 0;
}

.stm_post_style_7 .stm_loop__list .stm_posts_list_single__body {
    padding: 30px 40px 30px 40px;
    border: 1px solid #e6e6e6;
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.stm_post_style_7 .stm_loop__list .stm_posts_list_single__body.has_single__image {
    border-left-width: 0;
}

.stm_post_style_7 .stm_loop__list .stm_posts_list_single__info {
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
}

.stm_post_style_7 .stm_loop__list .stm_posts_list_single__info .date {
    margin-right: 40px;
}

.stm_post_style_7 .stm_loop__list .stm_posts_list_single__info i {
    margin-right: 5px;
}

.stm_post_style_7 .stm_loop__list .stm_posts_list_single h5 {
    line-height: 24px !important;
    cursor: pointer !important;
    margin-bottom: 8px;
}

.stm_post_style_7 .stm_loop__list .stm_posts_list_single h5 a {
    cursor: pointer !important;
}

.stm_post_style_7 .stm_loop__list .stm_posts_list_single__excerpt p {
    line-height: 24px;
}

.stm_post_style_7 .stm_loop__list .stm_posts_list_single__image {
    max-width: 370px;
    overflow: hidden;
    -ms-flex: 0 0 370px;
    flex: 0 0 370px;
}

.stm_post_style_7 .stm_loop__list .stm_posts_list_single__image img {
    max-width: inherit;
    height: 100%;
    width: auto !important;
}

.stm_post_style_7 .stm_loop__list .stm_posts_list_single:hover .stm_posts_list_single__container {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

@media (max-width: 769px) {
    .stm_post_style_7 .stm_loop__list_single {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .stm_post_style_7 .stm_loop__list {
        margin-left: -15px;
        margin-right: -15px;
        width: auto;
    }

    .stm_post_style_7 .stm_loop__list .stm_posts_list {
        margin: 0 -15px;
    }

    .stm_post_style_7 .stm_loop__list .stm_posts_list_single {
        width: 50%;
        padding: 0 15px;
    }

    .stm_post_style_7 .stm_loop__list .stm_posts_list_single__container {
        display: block;
    }

    .stm_post_style_7 .stm_loop__list .stm_posts_list_single__image {
        max-width: 100% !important;
    }

    .stm_post_style_7 .stm_loop__list .stm_posts_list_single__image a {
        display: block;
    }

    .stm_post_style_7 .stm_loop__list .stm_posts_list_single__image img {
        max-width: 100% !important;
        width: 100% !important;
        height: auto !important;
    }

    .stm_post_style_7 .stm_loop__list .stm_posts_list_single__body {
        border-left-width: 1px;
    }

    .stm_post_style_7 .stm_loop__list .stm_posts_list_single__info {
        display: block;
    }

    .stm_post_style_7 .stm_loop__grid .stm_posts_list_single {
        width: 50%;
    }

    .stm_post_style_7 .stm_loop__grid .stm_posts_list_single__image img {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .stm_post_style_7 .stm_loop__list .stm_posts_list_single {
        width: 100%;
    }

    .stm_post_style_7 .stm_loop__list .stm_posts_list_single__body {
        border-left: 1px solid #e6e6e6;
    }

    .stm_post_style_7 .stm_loop__grid .stm_posts_list_single {
        width: 100%;
    }
}

.stm_single_post_style_7 .stm_post_details {
    border-top-color: #e6e6e6;
    padding-top: 10px;
    margin-bottom: 10px;
}

.stm_single_post_style_7 .stm_post_details > ul {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
}

.stm_single_post_style_7 .stm_post_details > ul li {
    color: #999999;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
}

.stm_single_post_style_7 .stm_post_details > ul li i {
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.stm_single_post_style_7 .stm_post_details > ul li:before {
    display: none;
}

.stm_single_post_style_7 .stm_post_details > ul li:not(:first-child) {
    margin-left: 30px;
}

.stm_single_post_style_7 .stm_post_details > ul .post_comments {
    margin-left: auto !important;
}

@media (max-width: 550px) {
    .stm_single_post_style_7 .stm_post_details > ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .stm_single_post_style_7 .stm_post_details > ul > li {
        margin: 0 !important;
    }

    .stm_single_post_style_7 .stm_post_details > ul:before {
        display: none;
    }

    .stm_single_post_style_7 .stm_post_details > ul .post_date {
        -ms-flex: 50%;
        flex: 50%;
    }

    .stm_single_post_style_7 .stm_post_details > ul .post_by {
        -ms-flex: 50%;
        flex: 50%;
        text-align: right;
    }

    .stm_single_post_style_7 .stm_post_details > ul .post_comments {
        -ms-flex: 100%;
        flex: 100%;
        margin-top: 5px !important;
    }
}

.stm_single_post_style_7 .stm_post__tags > a {
    background-color: transparent;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 7px 10px;
    line-height: 1;
    font-size: 14px;
}

.stm_single_post_style_7 .stm_post__tags > a:hover {
    border-color: transparent;
}

.stm_single_post_style_7 .stm_share > a {
    background-color: #ededed;
    height: 36px;
    width: 36px;
}

.stm_single_post_style_7 .stm_share > a i {
    line-height: 36px;
    color: #778084;
    font-size: 17px;
}

.stm_single_post_style_7 .stm_post__actions {
    border-top: 1px solid #e6e6e6;
    padding-top: 33px;
    margin-bottom: 23px;
}

.stm_single_post_style_7 .stm_author_box {
    background-color: #fff;
    border: 2px solid #e6e6e6;
}

.stm_single_post_style_7 .stm_author_box__name {
    text-transform: none;
    font-size: 14px;
    color: #999999;
}

.stm_single_post_style_7 .stm_author_box__name strong {
    line-height: 1;
    font-size: 16px;
}

.stm_single_post_style_7 .stm_author_box__content {
    font-size: 15px;
    line-height: 24px;
}

.stm_single_post_style_7 .stm_post_comments .comment-reply-title {
    font-size: 30px;
    text-transform: none;
}

.stm_single_post_style_7 .stm_post_comments .comment-respond {
    padding: 37px 50px 35px 50px;
    margin: 0;
    background-color: #fafafa;
}

.stm_single_post_style_7 .stm_post_comments .comments-title {
    font-size: 30px;
    margin-top: 102px;
    text-transform: none !important;
}

.stm_single_post_style_7 .stm_post_comments .comment {
    border-top-color: #dddddd;
}

.stm_single_post_style_7 .stm_post_comments .comment-author {
    text-transform: none !important;
    font-weight: 700 !important;
    margin-bottom: 2px;
}

.stm_single_post_style_7 .stm_post_comments .comment-text > p {
    line-height: 24px !important;
    font-size: 15px;
}

.stm_single_post_style_7 .stm_post_comments .comment-meta {
    margin-bottom: 0 !important;
    color: #aaaaaa;
    font-size: 12px !important;
    font-weight: normal !important;
}

.stm_single_post_style_7 .stm_post_comments .comment-meta .comment-reply-link i {
    margin-right: 5px;
}

.stm_single_post_style_7 .stm_post_comments .comment .children > li {
    border-top-color: #dddddd;
}

.stm_single_post_style_7 .stm_post_comments .comment .vcard img {
    border: 0;
}

.stm_single_post_style_7 .stm_post_comments input[type=text],
.stm_single_post_style_7 .stm_post_comments input[type=email] {
    padding: 12px 13px;
    height: 50px;
}

.stm_single_post_style_7 .stm_post_comments .form-submit button[type=submit] {
    padding: 17px 32px !important;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .stm_single_post_style_7 .stm_share {
        margin-left: auto !important;
        margin-top: 0 !important;
    }
}

@media (max-width: 550px) {
    .stm_single_post_style_7 .stm_share {
        margin-top: 25px !important;
    }

    .stm_single_post_style_7 .stm_post_comments .comment-respond {
        padding: 37px 30px 35px 30px !important;
    }

    .stm_single_post_style_7 .comment-body {
        display: -ms-flexbox;
        display: flex;
    }

    .stm_single_post_style_7 .comment-body .vcard {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        margin-right: 15px !important;
    }

    .stm_single_post_style_7 .comment-info {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .stm_single_post_style_7 .comment-author {
        -ms-flex: 1;
        flex: 1;
    }

    .stm_single_post_style_7 .comment-meta {
        line-height: 18px;
        padding-bottom: 10px;
        float: none !important;
    }
}
