/*COLORS*/
/*FONTS*/
.stm_infobox_style_3 {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}

.stm_infobox_style_3 .stm_infobox__content_wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.stm_infobox_style_3 .stm_infobox__content {
    background-color: transparent !important;
}

.stm_infobox_style_3 .stm_infobox__content p {
    margin: 0 !important;
}

.stm_infobox_style_3 .stm_infobox__content a {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 22px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.40px;
    font-weight: 700;
}

.stm_infobox_style_3 .stm_infobox__content a:hover {
    text-decoration: none;
}

.stm_infobox_style_3 .stm_infobox__content a span {
    margin-left: 12px;
    font-size: 13px;
}

.stm_infobox_style_3:hover .stm_infobox__image img {
    transform: scale(1.07);
}

@media (max-width: 769px) and (min-width: 425px) {
    .stm_infobox_style_3 .stm_infobox__image img {
        width: 100%;
    }
}
