@font-face {
    font-family: 'stmicons';
    src: url('stmicons.eot?y0qo');
    src: url('stmicons.eot?y0qo#iefix') format('embedded-opentype'), url('stmicons.ttf?y0qo') format('truetype'), url('stmicons.woff?y0qo') format('woff'), url('stmicons.svg?y0qo#stmicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="stmicon-"], [class*=" stmicon-"] {
    font-family: 'stmicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.stmicon-viral_latest:before {
    content: "\d6000";
}

.stmicon-viral_hot:before {
    content: "\d6001";
}

.stmicon-viral_popular:before {
    content: "\d6002";
}

.stmicon-viral_trending:before {
    content: "\d6003";
}

.stmicon-viral_share:before {
    content: "\d6004";
}

.stmicon-viral_arrow_solid_left:before {
    content: "\d6005";
}

.stmicon-viral_arrow_solid_right:before {
    content: "\d6006";
}

.stmicon-viral_clock:before {
    content: "\d6007";
}

.stmicon-viral_close:before {
    content: "\d6008";
}

.stmicon-viral_comments:before {
    content: "\d6009";
}

.stmicon-viral_envelope:before {
    content: "\d600a";
}

.stmicon-viral_eye:before {
    content: "\d600b";
}

.stmicon-viral_iphone:before {
    content: "\d600c";
}

.stmicon-viral_loupe:before {
    content: "\d600d";
}

.stmicon-viral_news:before {
    content: "\d600e";
}

.stmicon-viral_pin:before {
    content: "\d600f";
}

.stmicon-viral_play:before {
    content: "\d6010";
}

.stmicon-viral_play_solid:before {
    content: "\d6011";
}

.stmicon-viral_printer:before {
    content: "\d6012";
}