.stm_gmap_wrapper.style_3 {
    max-width: 100%;
    position: relative;
    height: auto !important;
}

.stm_gmap_wrapper.style_3 .gmap_addresses {
    margin-top: 36px;
}

.stm_gmap_wrapper.style_3 .gmap_addresses .owl-item .item {
    display: -ms-flexbox;
    display: flex;
}

.stm_gmap_wrapper.style_3 .gmap_addresses .owl-item .item > .title {
    font-size: 18px;
    line-height: 26px;
    font-family: inherit !important;
    -ms-flex: 50%;
    flex: 50%;
    font-weight: normal;
}

.stm_gmap_wrapper.style_3 .gmap_addresses .owl-item .item > ul {
    list-style: none;
    padding-left: 0;
    -ms-flex: 50%;
    flex: 50%;
}

.stm_gmap_wrapper.style_3 .gmap_addresses .owl-item .item > ul > li {
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
}

.stm_gmap_wrapper.style_3 .gmap_addresses .owl-item .item > ul > li p {
    margin-bottom: 0;
}

.stm_gmap_wrapper.style_3 .gmap_addresses .owl-item .item > ul > li .icon {
    position: relative;
    top: 2px;
    margin-right: 10px;
    -ms-flex: 0 0 25px;
    flex: 0 0 25px;
    text-align: center;
}

.stm_gmap_wrapper.style_3 .gmap_addresses .owl-item .item > ul > li .icon .stmicon-iphone:before {
    content: "\e67f";
    font-size: 22px;
}

.stm_gmap_wrapper.style_3 .gmap_addresses .owl-item .item > ul > li .icon .stmicon-email:before {
    content: "\e67a";
    font-size: 15px;
}

.stm_gmap_wrapper.style_3 .gmap_addresses .container {
    width: 100%;
    padding: 0;
}

.stm_gmap_wrapper.style_3 .stm_infobox {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    border-radius: 25px;
    padding: 10px 25px;
}

.stm_gmap_wrapper.style_3 .stm_infobox__content {
    text-align: center;
    font-size: 13px;
    white-space: nowrap;
}

.stm_gmap_wrapper.style_3 .stm_infobox:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #002040 transparent transparent transparent;
    position: absolute;
    bottom: -8px;
    left: 51%;
    transform: translateX(-50%);
}

@media (max-width: 1024px) {
    .stm_gmap_wrapper.style_3 .gmap_addresses .owl-item:after {
        display: none;
    }

    .stm_gmap_wrapper.style_3 .gmap_addresses .owl-item .item {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .stm_gmap_wrapper.style_3 .gmap_addresses .owl-item .item .title {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-bottom: 25px;
    }

    .stm_gmap_wrapper.style_3 .gmap_addresses .owl-item .item ul {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .stm_gmap_wrapper.style_3 .gmap_addresses .owl-item .item ul li .icon {
        text-align: left;
    }
}
