@font-face {
    font-family: 'stmicons';
    src: url('stmicons.eot?o3b1tq');
    src: url('stmicons.eot?o3b1tq#iefix') format('embedded-opentype'), url('stmicons.ttf?o3b1tq') format('truetype'), url('stmicons.woff?o3b1tq') format('woff'), url('stmicons.svg?o3b1tq#stmicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="stmicon-"], [class*=" stmicon-"] {
    font-family: 'stmicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.stmicon-renovation_shield:before {
    content: "\35468";
}

.stmicon-renovation_diamond:before {
    content: "\35469";
}

.stmicon-renovation_drill:before {
    content: "\3546a";
}

.stmicon-renovation_cup:before {
    content: "\3546b";
}

.stmicon-renovation_worker:before {
    content: "\3546c";
}

.stmicon-renovation_checklist:before {
    content: "\3546d";
}

.stmicon-renovation_customers:before {
    content: "\3546e";
}

.stmicon-renovation_carpentry:before {
    content: "\3546f";
}

.stmicon-renovation_electrical:before {
    content: "\35470";
}

.stmicon-renovation_gears:before {
    content: "\35471";
}

.stmicon-renovation_maintenance:before {
    content: "\35472";
}

.stmicon-renovation_painting:before {
    content: "\35473";
}

.stmicon-renovation_plumbing:before {
    content: "\35474";
}

.stmicon-arrow_forward:before {
    content: "\35475";
}