@font-face {
    font-family: 'stmicons';
    src: url('stmicons.eot?flnufk');
    src: url('stmicons.eot?flnufk#iefix') format('embedded-opentype'), url('stmicons.ttf?flnufk') format('truetype'), url('stmicons.woff?flnufk') format('woff'), url('stmicons.svg?flnufk#stmicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="stmicon-"], [class*=" stmicon-"] {
    font-family: 'stmicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.stmicon-pearl-shell:before {
    content: "\ec8f";
}

.stmicon-cart-flat:before {
    content: "\ec8b";
}

.stmicon-uniE6AA:before {
    content: "\e6aa";
}

.stmicon-uniE6AB:before {
    content: "\e6ab";
}

.stmicon-uniE6AC:before {
    content: "\e6ac";
}

.stmicon-uniE6AD:before {
    content: "\e6ad";
}

.stmicon-uniE6AE:before {
    content: "\e6ae";
}

.stmicon-uniE6AF:before {
    content: "\e6af";
}

.stmicon-uniE6B0:before {
    content: "\e6b0";
}

.stmicon-uniE6B1:before {
    content: "\e6b1";
}

.stmicon-uniE6B2:before {
    content: "\e6b2";
}

.stmicon-uniE6B3:before {
    content: "\e6b3";
}

.stmicon-uniE6B4:before {
    content: "\e6b4";
}

.stmicon-uniE6B5:before {
    content: "\e6b5";
}

.stmicon-uniE6B6:before {
    content: "\e6b6";
}

.stmicon-uniE6B7:before {
    content: "\e6b7";
}

.stmicon-uniE6B8:before {
    content: "\e6b8";
}

.stmicon-uniE6B9:before {
    content: "\e6b9";
}

.stmicon-uniE6BA:before {
    content: "\e6ba";
}

.stmicon-uniE6BB:before {
    content: "\e6bb";
}

.stmicon-uniE6BC:before {
    content: "\e6bc";
}

.stmicon-uniE6BD:before {
    content: "\e6bd";
}

.stmicon-uniE6BE:before {
    content: "\e6be";
}

.stmicon-uniE6BF:before {
    content: "\e6bf";
}

.stmicon-uniE6D5:before {
    content: "\e6d5";
}