/*COLORS*/
/*FONTS*/
.stm_projects_carousel__title {
    margin-right: 30px;
}

.stm_projects_carousel__title a {
    text-decoration: none !important;
}

.stm_projects_carousel__item {
    position: relative;
    display: block;
    padding: 0 15px;
}

.stm_projects_carousel__item img {
    vertical-align: top;
    width: 100%;
}

.stm_projects_carousel__item:hover .stm_projects_carousel__btn {
    bottom: 25px;
    opacity: 1;
}

.stm_projects_carousel__item:hover .stm_projects_carousel__name {
    bottom: 90px;
    opacity: 1;
}

.stm_projects_carousel__item:hover .stm_projects_carousel__overlay {
    background: rgba(0, 0, 0, 0.5);
}

.stm_projects_carousel__item:hover .stm_projects_carousel__overlay i {
    opacity: 1;
}

.stm_projects_carousel__custom_image i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 28px;
    opacity: 0;
}

.stm_projects_carousel__btn {
    position: absolute;
    left: 33px;
    bottom: 10px;
    opacity: 0;
    font-weight: 700;
}

.stm_projects_carousel__name {
    position: absolute;
    left: 33px;
    bottom: 100px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    width: 70%;
    opacity: 0;
}

.stm_projects_carousel__overlay {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    background: transparent;
}

.stm_projects_carousel {
    position: relative;
}

.stm_projects_carousel__carousels {
    margin: 0 -15px;
}

.stm_projects_carousel__item {
    padding: 0;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.3s !important;
}

.stm_projects_carousel__item img {
    border-radius: 4px;
}

.stm_projects_carousel__info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0 30px;
    overflow: hidden;
    border-radius: 4px;
    transition: all 0.4s;
    background-color: rgba(28, 29, 27, 0.75);
    visibility: hidden;
    opacity: 0;
}

.stm_projects_carousel__info .stm_projects_carousel__category {
    display: block;
    position: relative;
}

.stm_projects_carousel__info .stm_projects_carousel__name {
    display: block;
    position: relative;
    left: auto;
    bottom: auto !important;
    width: auto;
    margin: 14px 0 18px;
    text-transform: none;
    letter-spacing: -1px;
    line-height: 30px;
    font-weight: 600;
    font-size: 24px;
    opacity: 1;
}

.stm_projects_carousel__info .stm_projects_carousel__description {
    display: block;
    position: relative;
    font-size: 15px;
    color: #fff;
}

.stm_projects_carousel__item {
    margin-top: 20px;
}

.stm_projects_carousel .owl-item {
    padding: 0 15px;
}

.stm_projects_carousel .owl-item:hover .stm_projects_carousel__item {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.11);
}

.stm_projects_carousel .owl-item:hover .stm_projects_carousel__info {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 1024px) {
    .stm_projects_carousel .owl-item:hover .stm_projects_carousel__item {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

.stm_projects_carousel .owl-dots {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 60px;
}

.stm_projects_carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    border-radius: 50%;
    opacity: 0.10;
}

.stm_projects_carousel .owl-dots .owl-dot.active {
    opacity: 1;
}
