@charset "UTF-8";

.widget_contacts_style_5 .widgettitle {
    margin-bottom: 25px !important;
}

.widget_contacts_style_5 .widget_contacts_inner {
    border-radius: 2px;
}

.widget_contacts_style_5 .widget_contacts_inner .stm-icontext_style2 {
    margin-bottom: 12px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-align: start;
    align-items: flex-start;
}

.widget_contacts_style_5 .widget_contacts_inner .stm-icontext_style2 .stm-icontext__icon {
    font-size: 16px;
    text-align: center;
    min-width: 20px;
    margin-right: 10px;
}

.widget_contacts_style_5 .widget_contacts_inner .stm-icontext_style2 .stm-icontext__text {
    padding-top: 0;
    font-size: 14px;
    line-height: 20px;
}

.widget_contacts_style_5 .widget_contacts_inner .stm-icontext_style2 .stm-icontext__text a {
    opacity: 1;
}

.widget_contacts_style_5 .widget_contacts_inner .stm-icontext_style2 .stm-icontext__icon {
    opacity: 1;
}

.widget_contacts_style_5 .widget_contacts_inner .fa-home:before {
    content: "\e988" !important;
    content: "" !important;
    font-family: 'stmicons' !important;
}

.widget_contacts_style_5 .widget_contacts_inner .fa-phone-square:before {
    content: "" !important;
    font-family: 'stmicons' !important;
}

.widget_contacts_style_5 .widget_contacts_inner .fa-envelope {
    position: relative;
}

.widget_contacts_style_5 .widget_contacts_inner .fa-envelope:before {
    font-size: 13px;
    content: "" !important;
    font-family: 'stmicons' !important;
}

.widget_contacts_style_5 .widget_contacts_inner .fa-fax:before {
    content: "" !important;
    font-family: 'stmicons' !important;
}

.widget_contacts_style_5 .stm-socials {
    margin-top: 20px;
}

.widget_contacts_style_5 .stm-socials .stm-socials__icon {
    margin-right: 16px;
}

.widget_contacts_style_5 .stm-socials .stm-socials__icon i {
    font-size: 20px;
}

@media (max-width: 1024px) {
    .wpb_wrapper .widget_contacts_style_5 {
        padding: 0 15px 15px !important;
    }
}

@media (max-width: 1023px) {
    .wpb_wrapper .widget_contacts_style_5 {
        padding: 30px 30px 15px !important;
    }
}

@media (max-width: 550px) {
    .vc_column-inner .widget_contacts_style_5 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
