@charset "UTF-8";
/*COLORS*/
/*FONTS*/
.stm_testimonials {
    margin: 0 -15px;
}

.stm_testimonials .owl-controls, .stm_testimonials__item {
    margin: 0 15px;
}

.stm_testimonials_list_style {
    margin: 0;
}

.stm_testimonials_style_9 {
    text-align: center;
}

.stm_testimonials_style_9 .stm_testimonials__review {
    margin: 0 auto;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 28px;
    max-width: 660px;
}

.stm_testimonials_style_9 .stm_testimonials__info h6 {
    font-family: inherit !important;
    font-size: 14px;
    font-weight: normal;
}

.stm_testimonials_style_9 .stm_testimonials__info h6:before {
    content: '—';
    margin-right: 5px;
    display: inline-block;
    background-color: transparent !important;
}

.stm_testimonials_style_9 .title_sep {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 44px;
}

.stm_testimonials_style_9 .title_sep .title_sep__icon {
    line-height: 1;
}

.stm_testimonials_style_9 .title_sep .title_sep__icon:before {
    content: "\e6d4";
    font-family: stmicons;
    font-size: 40px;
}

.stm_testimonials_style_9 .title_sep:after, .stm_testimonials_style_9 .title_sep:before {
    content: '';
    display: block;
    border-bottom: 1px solid #000;
    -ms-flex: 50%;
    flex: 50%;
}

.stm_testimonials_style_9 .title_sep:before {
    margin-right: 30px;
}

.stm_testimonials_style_9 .title_sep:after {
    margin-left: 30px;
}

.stm_testimonials_style_9 .owl-controls {
    margin-top: 38px;
}

.stm_testimonials_style_9 .owl-controls .owl-dots {
    -ms-flex-pack: center;
    justify-content: center;
}

.stm_testimonials_style_9 .owl-controls .owl-dots .owl-dot {
    padding: 0 10px;
}

.stm_testimonials_style_9 .owl-controls .owl-dots .owl-dot span {
    transform: scale(0.667);
}

.stm_testimonials_style_9 .owl-controls .owl-dots .owl-dot.active span {
    transform: scale(1);
}
