/*COLORS*/
/*FONTS*/
.stm_testimonials {
    margin: 0 -15px;
}

.stm_testimonials .owl-controls, .stm_testimonials__item {
    margin: 0 15px;
}

.stm_testimonials_list_style {
    margin: 0;
}

.stm_testimonials_style_7 {
    display: -ms-flexbox;
    display: flex;
}

.stm_testimonials_style_7 .stm_testimonials {
    text-align: center;
}

.stm_testimonials_style_7 .stm_testimonials__item:hover:before {
    color: #fff !important;
}

.stm_testimonials_style_7 .stm_testimonials__avatar {
    bottom: 0;
    text-align: center;
    margin-bottom: 37px;
    position: relative;
}

.stm_testimonials_style_7 .stm_testimonials__avatar:before {
    content: "\ec5c";
    font-family: stmicons;
    font-size: 97px;
    position: absolute;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.stm_testimonials_style_7 .stm_testimonials__avatar img {
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: auto !important;
}

.stm_testimonials_style_7 .stm_testimonials__meta {
    text-align: center;
}

.stm_testimonials_style_7 .stm_testimonials__review {
    margin-bottom: 60px;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    font-style: italic;
}

.stm_testimonials_style_7 .stm_testimonials__info h6 {
    margin-bottom: 1px;
    text-transform: none !important;
    font-size: 14px;
    color: #999999;
}

.stm_testimonials_style_7 .owl-controls {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.stm_testimonials_style_7 .owl-controls .owl-dots {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px;
}

.stm_testimonials_style_7 .owl-controls .owl-dots:before, .stm_testimonials_style_7 .owl-controls .owl-dots:after {
    content: '';
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    border-bottom: 1px solid #000;
    opacity: .1;
}

.stm_testimonials_style_7 .owl-controls .owl-dots:before {
    margin-right: 40px;
}

.stm_testimonials_style_7 .owl-controls .owl-dots:after {
    margin-left: 40px;
}
