/*COLORS*/
/*FONTS*/
.stm_testimonials {
    margin: 0 -15px;
}

.stm_testimonials .owl-controls, .stm_testimonials__item {
    margin: 0 15px;
}

.stm_testimonials_list_style {
    margin: 0;
}

.stm_testimonials_style_16 {
    margin-bottom: 30px;
}

.stm_testimonials_style_16 .owl-dots {
    margin-top: 20px;
}

.stm_testimonials_style_16 .owl-dots .owl-dot {
    display: inline-block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    background-color: #ccc;
}

.stm_testimonials_style_16 .owl-controls {
    display: block;
}

.stm_testimonials_style_16 .owl-controls .owl-nav {
    width: 420px;
    position: absolute;
    bottom: 140px;
    left: 50%;
    margin-left: -210px;
}

.stm_testimonials_style_16 .owl-controls .owl-nav .owl-next,
      .stm_testimonials_style_16 .owl-controls .owl-nav .owl-prev {
    width: 59px;
    height: 59px;
    line-height: 59px;
    border-radius: 50%;
    transition: all 0.3s;
}

.stm_testimonials_style_16 .owl-controls .owl-nav .owl-next:before,
        .stm_testimonials_style_16 .owl-controls .owl-nav .owl-prev:before {
    color: #aaaaaa;
}

.stm_testimonials_style_16 .owl-controls .owl-nav .owl-next:hover:before,
        .stm_testimonials_style_16 .owl-controls .owl-nav .owl-prev:hover:before {
    color: #ffffff;
}

@media (max-width: 767px) {
    .stm_testimonials_style_16 .owl-controls {
        display: none;
    }
}

.stm_testimonials_style_16 .stm_testimonials__review {
    position: relative;
    background: #fff;
    font-size: 16px;
    line-height: 36px;
    margin-bottom: 35px;
    padding: 35px 40px 62px;
}

.stm_testimonials_style_16 .stm_testimonials__review:after {
    content: "\98a2" !important;
    font-family: 'stmicons' !important;
    font-size: 20px;
    position: absolute;
    left: auto;
    top: auto;
    right: 30px;
    bottom: 30px;
}

.stm_testimonials_style_16 .stm_testimonials__meta {
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.stm_testimonials_style_16 .stm_testimonials__meta_left {
    padding-left: 0;
}

.stm_testimonials_style_16 .stm_testimonials__meta_align-center {
    -ms-flex-align: center;
    align-items: center;
}

.stm_testimonials_style_16 .stm_testimonials__avatar {
    margin-right: 20px;
}

.stm_testimonials_style_16 .stm_testimonials__avatar img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.stm_testimonials_style_16 .stm_testimonials__avatar_rounded img {
    border-radius: 50%;
}

.stm_testimonials_style_16 .stm_testimonials__avatar img {
    width: auto !important;
}

.stm_testimonials_style_16 .stm_testimonials__info h6 {
    text-transform: none !important;
    margin-bottom: 3px;
    font-size: 20px;
}

.stm_testimonials_style_16 .stm_testimonials__info span {
    font-size: 16px;
    color: #333;
}
