@charset "UTF-8";
/*COLORS*/
/*FONTS*/
.stm_testimonials {
    margin: 0 -15px;
}

.stm_testimonials .owl-controls, .stm_testimonials__item {
    margin: 0 15px;
}

.stm_testimonials_list_style {
    margin: 0;
}

.stm_testimonials_style_11 {
    text-align: center;
}

.stm_testimonials_style_11 .stm_testimonials__review {
    margin: 0 auto 60px auto;
    font-size: 22px;
    line-height: 40px;
    max-width: 970px;
    color: #ffffff;
    font-style: italic;
}

.stm_testimonials_style_11 .stm_testimonials__review:before, .stm_testimonials_style_11 .stm_testimonials__review:after {
    content: '“';
    margin: 4px;
    color: #fff !important;
}

.stm_testimonials_style_11 .stm_testimonials__info {
    color: #fff;
}

.stm_testimonials_style_11 .stm_testimonials__info h6 {
    font-family: inherit !important;
    line-height: 18px;
    text-transform: none !important;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    font-weight: bold;
}

.stm_testimonials_style_11 .stm_testimonials__avatar {
    width: 100px;
    margin: 0 auto 35px;
}

.stm_testimonials_style_11 .stm_testimonials__avatar img {
    border-radius: 50%;
}

.stm_testimonials_style_11 .owl-dots {
    text-align: center;
}

.stm_testimonials_style_11 .owl-dots .owl-dot {
    display: inline-block;
    background-color: transparent !important;
    padding: 10px;
    margin: 0;
}

.stm_testimonials_style_11 .owl-dots .owl-dot span {
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.5);
}

.stm_testimonials_style_11 .owl-dots .owl-dot.active span {
    background-color: #fff !important;
}

.stm_testimonials__title {
    color: #fff;
}
