@charset "UTF-8";

.stm_pagination_style_6 ol {
    padding-left: 0;
    list-style: none;
    counter-reset: section;
}

.stm_pagination_style_6 ol li {
    position: relative;
    padding-left: 38px;
}

.stm_pagination_style_6 ol li:before {
    position: absolute;
    left: 13px;
    top: 0;
    font-weight: 500;
    counter-increment: section;
    content: counters(section, ".") ". ";
}

.wpb_text_column ul {
    line-height: 30px;
    list-style: none;
    padding-left: 0;
}

.wpb_text_column ul li {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
}

.wpb_text_column ul li:before {
    content: '•';
    font-size: 18px;
    position: relative;
    margin-right: 15px;
}

.wpb_text_column ol {
    list-style: none;
}

.wpb_text_column a:hover {
    text-decoration: none !important;
}

.stm_lists_style_6 .stm_pricing-table .stm_pricing-table__content ul li:before {
    top: 7px;
}
