@charset "UTF-8";

.wpb_text_column ul {
    list-style: none;
    padding-left: 0;
}

.wpb_text_column ul li {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 9px;
}

.wpb_text_column ul li:before {
    content: '•';
    font-size: 18px;
    position: relative;
    margin-right: 10px;
}

.wpb_text_column ol {
    padding-left: 0;
    list-style: none;
    counter-reset: item;
    margin: 0 0 26px;
}

.wpb_text_column ol li {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 9px;
    -ms-flex-align: start;
    align-items: flex-start;
}

.wpb_text_column ol li:before {
    content: counter(item) ".";
    counter-increment: item;
    margin-right: 10px;
}
