@charset "UTF-8";

.widget_recent_comments_style_2 ul li.recentcomments {
    font-size: 13px;
    padding-left: 30px !important;
    line-height: 22px;
    font-style: italic;
}

.widget_recent_comments_style_2 ul li.recentcomments:before {
    content: "ó±”" !important;
    font-family: 'stmicons' !important;
    border: 0;
    color: #777777;
    position: absolute;
    left: 0;
    top: 6px;
    line-height: 12px !important;
    font-size: 13px;
}

.widget_recent_comments_style_2 ul li.recentcomments > a {
    font-size: 13px;
    color: #333;
}
