.stm_gallery_masonry__title {
    margin: 0 15px 10px 0;
}

.stm_gallery_masonry__link {
    display: inline-block;
    margin: 10px 15px 10px 0;
}

.stm_projects_carousel__item {
    width: 33.33%;
}

.stm_projects_carousel__item:hover .stm_projects_carousel__overlay [data-title]:before {
    opacity: 1;
}

.stm_projects_carousel__item .stm_projects_carousel__overlay [data-title]:before {
    opacity: 0;
}

[class*='stm_projects_grid'] .stm_projects_carousel__item_preloaded {
    display: none;
}

.stm_projects_grid_style_2 > div.stm_flex {
    -ms-flex-pack: center;
    justify-content: center;
}

.stm_projects_grid_style_2 > div.stm_flex > div {
    display: none;
}

.stm_projects_grid_style_2 .stm_projects_carousel__item {
    margin-bottom: 50px;
    overflow: hidden;
}

.stm_projects_grid_style_2 .stm_projects_carousel__item:hover .stm_projects__meta .stm_projects__meta_terms {
    color: #fff !important;
}

.stm_projects_grid_style_2 .stm_projects_carousel__tab a {
    font-weight: 700;
}

.stm_projects_grid_style_2 .stm_projects__meta {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 14px;
    padding: 20px 35px;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
}

.stm_projects_grid_style_2 .stm_projects__meta:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    z-index: 10;
}

.stm_projects_grid_style_2 .stm_projects__meta .inner {
    position: relative;
    z-index: 15;
}

.stm_projects_grid_style_2 .stm_projects__meta .inner h5 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.4em;
}

.stm_projects_grid_style_2 .stm_projects__meta .inner .stm_projects__meta_terms {
    display: block;
    margin-bottom: 5px;
}

.stm_projects_grid_style_2 .btn_load {
    margin-top: -20px;
}

@media (max-width: 550px) {
    .stm_projects_grid_style_2 .stm_projects_grid__sorting {
        text-align: center;
    }
}

.stm_projects_grid_style_2 .flippable {
    overflow: visible;
}

.stm_projects_grid_style_2 .stm_flipbox {
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    padding: 0;
    border: 0;
}

.stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__front,
  .stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__back {
    transform: rotateX(0deg);
    transform-style: preserve-3d;
    min-height: 220px;
    height: auto;
    transition: transform 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-size: cover;
}

.stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__front:after,
    .stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__back:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .75;
}

.stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__front .inner_flip,
    .stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__back .inner_flip {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    outline: 1px solid transparent;
    perspective: inherit;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    z-index: 2;
}

.stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__front .inner_flip .stm_projects__meta,
      .stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__back .inner_flip .stm_projects__meta {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__front .inner_flip .stm_projects__meta:before,
        .stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__back .inner_flip .stm_projects__meta:before {
    display: none;
}

.stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__front .inner_flip .stm_projects__meta .inner,
        .stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__back .inner_flip .stm_projects__meta .inner {
    top: 15px;
}

.stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__front .inner_flip .stm_projects__meta .inner > *,
          .stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__back .inner_flip .stm_projects__meta .inner > * {
    display: block;
    width: 100%;
    text-align: center;
}

.stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__front .inner_flip .stm_projects__meta .inner h5,
          .stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__back .inner_flip .stm_projects__meta .inner h5 {
    margin-bottom: 15px;
}

.stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__front .inner_flip .stm_projects__meta .inner span,
          .stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__back .inner_flip .stm_projects__meta .inner span {
    font-weight: 600;
}

.stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 2px;
    transform: rotateX(180deg);
    transform-style: preserve-3d;
}

.stm_projects_grid_style_2 .stm_flipbox .stm_flipbox__back:after {
    opacity: 1;
}

.stm_projects_grid_style_2 .stm_flipbox:hover .stm_flipbox__front {
    transform: rotateX(-180deg);
    transform-style: preserve-3d;
}

.stm_projects_grid_style_2 .stm_flipbox:hover .stm_flipbox__back {
    transform: rotateX(0deg);
    transform-style: preserve-3d;
}

.stm_projects_grid_style_2 .stm_flipbox.stm_flipbox__vertical .stm_flipbox__front,
.stm_projects_grid_style_2 .stm_flipbox.stm_flipbox__vertical .stm_flipbox__back {
    transform: rotateY(0deg);
}

.stm_projects_grid_style_2 .stm_flipbox.stm_flipbox__vertical .stm_flipbox__back {
    transform: rotateY(180deg);
}

.stm_projects_grid_style_2 .stm_flipbox.stm_flipbox__vertical:hover .stm_flipbox__front {
    transform: rotateY(-180deg);
}

.stm_projects_grid_style_2 .stm_flipbox.stm_flipbox__vertical:hover .stm_flipbox__back {
    transform: rotateY(0deg);
}
