.stm_blockquote_style_4 blockquote {
    border-left: 0;
    padding: 30px 0 35px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    position: relative;
    font-size: 24px;
    font-style: italic;
    letter-spacing: -0.6px;
}

.stm_blockquote_style_4 blockquote p {
    margin-top: 0;
    font-size: 24px;
}

.stm_blockquote_style_4 blockquote:before, .stm_blockquote_style_4 blockquote:after {
    content: "\eb8b";
    font-family: 'stmicons';
    font-size: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 20px;
}

.stm_blockquote_style_4 blockquote:before {
    top: -23px;
}

.stm_blockquote_style_4 blockquote:after {
    transform: translateX(-50%) rotate(180deg);
    bottom: -23px;
}

.stm_blockquote_style_4 blockquote p {
    margin-bottom: 0;
    line-height: 36px !important;
    text-align: center;
}
