.stm_widget_categories.widget {
    position: relative;
    padding: 40px 30px 40px 30px;
    margin-bottom: 0;
}

.stm_widget_categories.style_3 {
    padding: 0;
    margin-bottom: 45px;
}

.stm_widget_categories.style_3 .widgettitle {
    margin: 0 0 27px 0;
}

.stm_widget_categories.style_3 .widgettitle h5 {
    margin: 0;
}

.stm_widget_categories.style_3 .widgettitle h5:before {
    margin: 0 0 20px 0;
}

.stm_widget_categories.style_3 ul {
    padding: 0;
    list-style: none;
}

.stm_widget_categories.style_3 ul li {
    padding-left: 22px;
    position: relative;
    margin: 0;
    color: #84898b;
}

.stm_widget_categories.style_3 ul li:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 2px;
    top: 50%;
    left: 0;
    margin-top: 2px;
    transform: translateY(-50%);
}

.stm_widget_categories.style_3 ul li .children {
    margin-top: 20px;
}

.stm_widget_categories.style_3 ul li a {
    line-height: 38px;
    text-decoration: none !important;
}

.stm_widget_categories.style_3:before {
    right: -5px !important;
    left: -5px !important;
}
