.stm_footer_layout_3 .stm-footer__bottom {
    padding: 88px 0;
    border-width: 1px;
}

.stm_footer_layout_3 .stm-footer__bottom .stm_markup__content,
  .stm_footer_layout_3 .stm-footer__bottom .stm_markup__sidebar {
    padding: 0;
}

.stm_footer_layout_3 .stm-footer__bottom .stm_markup {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.stm_footer_layout_3 .stm-footer__bottom .stm-socials__icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    background: transparent;
    border: 1px solid #fff;
}

.stm_footer_layout_3 .stm-footer__bottom .stm-socials__icon i {
    color: #fff !important;
}

.stm_footer_layout_3 .stm-footer__bottom .stm-socials__icon:hover i {
    color: #ffffff;
}

.stm_footer_layout_3 .stm-footer__bottom .stm_bottom_copyright {
    font-family: inherit;
    font-size: 13px;
}

.stm_footer_layout_3 .stm-footer__bottom .stm_footer_bottom__right .btn {
    position: relative;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 70px;
    color: #ffffff !important;
}

.stm_footer_layout_3 .stm-footer__bottom .stm_footer_bottom__right .btn .btn__icon {
    width: 54px;
    margin-top: -3px;
    color: #ffffff !important;
}

@media (max-width: 1024px) {
    .stm_footer_layout_3 .stm-footer__bottom {
        padding: 40px 0 20px;
    }

    .stm_footer_layout_3 .stm-footer__bottom .stm_markup {
        display: block;
        text-align: center;
    }

    .stm_footer_layout_3 .stm-footer__bottom .stm_markup > div {
        margin: 0 auto 30px;
    }
}
