/*COLORS*/
/*FONTS*/
/*COLORS*/
/*FONTS*/
.stm_woo_category_link_box {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.stm_woo_category_link_box .stm_woo_category_link_box_title {
    position: absolute;
    top: 29px;
    right: 40px;
    left: 40px;
    z-index: 1;
}

.stm_woo_category_link_box .stm_woo_category_link_box_title h4 {
    padding: 0 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2em;
    font-size: 1.6em;
}

.stm_woo_category_link_box .stm_woo_category_link_box_title .vc_sep_holder {
    background: transparent !important;
}

.stm_woo_category_link_box .stm_woo_category_link_box_title .vc_sep_holder:after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 0;
    opacity: 0;
    transition: width 0.10s;
    border-top-width: 1px;
    border-top-style: solid;
}

.stm_woo_category_link_box .stm_woo_category_link_box_title .vc_sep_holder.vc_sep_holder_first:after {
    left: auto;
    right: 0;
}

.stm_woo_category_link_box .stm_woo_category_link_box_thumbnail {
    position: relative;
    max-height: 445px;
}

.stm_woo_category_link_box .stm_woo_category_link_box_thumbnail img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}

.stm_woo_category_link_box .stm_woo_category_link_box_thumbnail .stm_woo_category_link_box_thumbnail_frame {
    position: absolute;
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;
    z-index: 1;
}

.stm_woo_category_link_box .stm_woo_category_link_box_thumbnail .stm_woo_category_link_box_thumbnail_frame:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: height 0.20s;
    transition-delay: 0.10s;
    border-width: 1px;
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
}

.stm_woo_category_link_box .stm_woo_category_link {
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 40px;
    text-align: center;
    z-index: 1;
}

.stm_woo_category_link_box .stm_woo_category_link:before, .stm_woo_category_link_box .stm_woo_category_link:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 1px;
    opacity: 0;
    transition: width 0.10s;
    transition-delay: 0.25s;
}

.stm_woo_category_link_box .stm_woo_category_link:after {
    left: auto;
    right: 0;
}

.stm_woo_category_link_box .stm_woo_category_link a {
    display: inline-block;
    vertical-align: top;
    position: relative;
    bottom: -20px;
    opacity: 0;
    transition: all 0.20s !important;
    text-transform: uppercase;
    padding: 9px 20px 8px;
    letter-spacing: 0.5px;
    line-height: 2em;
    font-weight: 700;
    font-size: 12px;
    z-index: 2;
}

.stm_woo_category_link_box .stm_woo_category_link a:hover {
    text-decoration: none;
}

.stm_woo_category_link_box .stm_woo_category_link a i {
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
    margin-left: 10px;
    font-size: 20px;
}

.stm_woo_category_link_box:hover .stm_woo_category_link_box_title .vc_sep_holder:after {
    width: 100%;
    opacity: 1;
}

.stm_woo_category_link_box:hover .stm_woo_category_link_box_thumbnail .stm_woo_category_link_box_thumbnail_frame:after {
    height: 100%;
    opacity: 1;
}

.stm_woo_category_link_box:hover .stm_woo_category_link:before, .stm_woo_category_link_box:hover .stm_woo_category_link:after {
    width: 50%;
    opacity: 1;
}

.stm_woo_category_link_box:hover .stm_woo_category_link a {
    bottom: 0;
    opacity: 1;
}

@media (max-width: 786px) {
    .stm_woo_category_link_box .stm_woo_category_link_box_title .vc_sep_holder:after {
        top: -4px;
    }
}

@media (max-width: 767px) {
    .stm_woo_category_link_box .stm_woo_category_link_box_thumbnail img {
        width: 100%;
    }
}

@media (min-width: 787px) and (max-width: 1023px) {
    .stm_woo_category_link_box:hover .stm_woo_category_link_box_thumbnail .stm_woo_category_link_box_thumbnail_frame:after {
        height: 99%;
        top: 2px;
    }
}
