@charset "UTF-8";
/*COLORS*/
/*FONTS*/
.stm_posts_list_style_3 {
    margin: 0 -15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.stm_posts_list_style_3 .stm_posts_list_single {
    width: 33.3%;
    padding: 0 15px;
    margin-bottom: 30px;
    font-size: 14px;
}

.stm_posts_list_style_3 .stm_posts_list_single__container {
    background-color: #fff;
}

.stm_posts_list_style_3 .stm_posts_list_single:hover .stm_posts_list_single__body:after {
    opacity: 1;
    transform: scale(1.1);
}

.stm_posts_list_style_3 .stm_posts_list_single:last-child {
    margin-bottom: 0;
}

.stm_posts_list_style_3 .stm_posts_list_single__image {
    min-height: 56px;
}

.stm_posts_list_style_3 .stm_posts_list_single__body {
    position: relative;
    padding: 42px 50px 10px 50px;
    text-align: center;
}

.stm_posts_list_style_3 .stm_posts_list_single__body:before {
    content: '';
    display: block;
    content: "" !important;
    font-family: 'stmicons' !important;
    position: absolute;
    top: -34px;
    left: 50%;
    width: 56px;
    height: 56px;
    margin-left: -28px;
    line-height: 56px;
    text-align: center;
    background-color: #0c0c0d;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
}

.stm_posts_list_style_3 .stm_posts_list_single__body:after {
    display: block;
    content: '';
    position: absolute;
    top: -39px;
    left: 50%;
    margin: 0 0 0 -33px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    opacity: 0;
    border: 2px solid transparent;
    transform: scale(0.8);
}

.stm_posts_list_style_3 .stm_posts_list_single__info > div {
    margin-bottom: 10px;
}

.stm_posts_list_style_3 .stm_posts_list_single__info > div.date {
    font-size: 13px;
}

.stm_posts_list_style_3 .stm_posts_list_single__info > div.date i {
    display: none;
}

.stm_posts_list_style_3 .stm_posts_list_single h5 {
    cursor: pointer !important;
    line-height: 24px;
    letter-spacing: -0.4px;
}

.stm_posts_list_style_3 .stm_posts_list_single h5 a {
    cursor: pointer !important;
}

.stm_posts_list_style_3 .stm_posts_list_single:hover .stm_posts_list_single__container {
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.19);
}

@media (max-width: 1023px) {
    .stm_posts_list_style_3 .stm_posts_list_single {
        width: 50%;
    }
}

@media (max-width: 550px) {
    .stm_posts_list_style_3 .stm_posts_list_single {
        width: 100%;
    }
}
