/*COLORS*/
/*FONTS*/
.stm_posts_list_style_11 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.stm_posts_list_style_11 .stm_posts_list_single {
    width: 100%;
    font-size: 14px;
    margin-bottom: 32px !important;
    padding: 0 15px;
}

.stm_posts_list_style_11 .stm_posts_list_single__body {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.stm_posts_list_style_11 .stm_posts_list_single__excerpt p {
    margin-bottom: 20px;
    line-height: 24px;
}

.stm_posts_list_style_11 .stm_posts_list_single__info {
    line-height: 14px;
    font-size: 13px;
    color: #999999;
}

.stm_posts_list_style_11 .stm_posts_list_single__info div {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-bottom: 13px;
}

.stm_posts_list_style_11 .stm_posts_list_single__info div:last-child {
    margin-right: 0;
}

.stm_posts_list_style_11 .stm_posts_list_single__info a {
    color: #999999;
}

.stm_posts_list_style_11 .stm_posts_list_single__image {
    float: left;
    display: inline;
    position: relative;
    margin-right: 15px;
}

.stm_posts_list_style_11 .stm_posts_list_single h5 {
    font-size: 18px !important;
    line-height: 23px !important;
    letter-spacing: -0.35px !important;
    font-weight: 700 !important;
    cursor: pointer !important;
}

.stm_posts_list_style_11 .stm_posts_list_single h5 a {
    cursor: pointer !important;
}
