.services_price_list .service__badge_container .service__badge_placeholder {
    display: none;
}

.services_price_list_style_4 .services_price_list__heading {
    text-align: center;
    color: #a66a4d;
}

.services_price_list_style_4 .services_pills_container {
    margin-bottom: 48px;
}

.services_price_list_style_4 .services_pills_container ul {
    padding: 0;
    list-style-type: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    border: 3px solid #eee;
    margin: 0;
}

.services_price_list_style_4 .services_pills_container li {
    padding: 0 24px;
}

.services_price_list_style_4 .services_pills_container li.active {
    font-weight: 700;
}

.services_price_list_style_4 .services_pills_container li.active a {
    color: #a66a4d;
}

.services_price_list_style_4 .services_pills_container li.active a:before {
    width: 100%;
}

.services_price_list_style_4 .services_pills_container a {
    display: block;
    line-height: 54px;
    position: relative;
    text-decoration: none;
}

.services_price_list_style_4 .services_pills_container a:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 0;
    background-color: #a66a4d;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all .3s;
}

.services_price_list_style_4 .services_pills_container a:hover {
    text-decoration: none;
    color: #a66a4d;
    background-color: transparent !important;
}

.services_price_list_style_4 .services_pills_container a:hover:before {
    width: 100%;
}

.services_price_list_style_4 .service__tab {
    display: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.services_price_list_style_4 .service__tab.active {
    display: -ms-flexbox;
    display: flex;
}

.services_price_list_style_4 .service__tab_item {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 48px;
}

@media (max-width: 992px) {
    .services_price_list_style_4 .service__tab_item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 600px) {
    .services_price_list_style_4 .service__tab_item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

.services_price_list_style_4 .service__tab_item_body {
    padding: 0 20px 0 0;
}

.services_price_list_style_4 .service__image {
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    margin-right: 20px;
    position: relative;
}

.services_price_list_style_4 .service__header {
    font-size: 20px;
    line-height: 20px;
    color: #000;
    margin-bottom: 4px;
}

.services_price_list_style_4 .service__badge {
    font-size: 12px;
    position: absolute;
    left: -10px;
    top: 10px;
    background: #000 !important;
    z-index: 11;
    padding: 0px 10px;
    color: #fff;
    text-transform: capitalize;
}

.services_price_list_style_4 .service__text {
    font-size: 16px;
    line-height: 20px;
    color: #6c6c6c;
    margin-bottom: 20px;
    height: 60px;
    overflow: hidden;
}

.services_price_list_style_4 .service__cost {
    font-weight: 700;
}

.services_price_list_style_4 .service__cost span {
    color: #a66a4d;
}
