/*COLORS*/
/*FONTS*/
.stm-counter_style_13 {
    padding-top: 24px;
    padding-bottom: 33px;
    padding-left: 58px;
    line-height: 1;
    font-size: 48px;
    font-weight: bold;
}

.stm-counter_style_13 .stm-counter__icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    font-size: 100px;
}

.stm-counter_style_13 .stm-counter__label {
    font-size: 14px;
    font-weight: 400;
    margin-top: 2px;
}

.stm-counter_style_13.stm_icon_gradient i {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 992px) {
    .stm-counter_style_13 {
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .stm-counter_style_13 {
        text-align: center;
    }
}
