.stm_widget_pages_style_4 ul li {
    padding-left: 0;
}

.stm_widget_pages_style_4 ul li a {
    color: inherit !important;
}

.stm_widget_pages_style_4 ul li:before {
    position: relative;
    top: -2px;
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    margin: 0 15px 0 5px;
    vertical-align: middle;
    font-size: 12px;
}
