.stm_widget_pages_style_3 ul {
    padding: 26px 28px;
    border: 2px solid;
}

.stm_widget_pages_style_3 ul li {
    padding-left: 0;
}

.stm_widget_pages_style_3 ul li a {
    color: #777777;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
}

.stm_widget_pages_style_3 ul li:before {
    position: static;
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 15px;
    vertical-align: middle;
    font-size: 12px;
}
