.stm_iconbox__link {
    text-decoration: none !important;
}

.stm_iconbox__icon {
    display: block;
}

.stm_iconbox__icon-left .stm_iconbox__icon {
    float: left;
}

.stm_iconbox__icon-right .stm_iconbox__icon {
    float: right;
}

.stm_iconbox__icon-top .stm_iconbox__icon {
    float: none;
    width: auto !important;
}

.stm_iconbox__icon-center {
    text-align: center;
}

.stm_iconbox__icon-center .stm_iconbox__icon {
    float: none;
    margin: 0 auto !important;
}

.stm_iconbox__text {
    overflow: hidden;
}

.stm_iconbox__text h5:before {
    content: '';
    display: block;
    background: rgba(0, 0, 0, 0.3) !important;
    margin: 0 0 18px;
}

.stm_iconbox__text h5 p {
    font-size: 13px;
    line-height: 22px;
}

.stm_iconbox.text-center.stm_iconbox__icon-top .stm_iconbox__icon {
    margin: 0 auto;
}

body:not(.stm_headings_line) .stm_iconbox__text h5:before {
    display: none;
}

.stm_iconbox_style_14.stm_iconbox {
    background-color: #fff;
    position: relative;
    padding: 30px 40px 30px;
    box-shadow: 0 5px 30px rgba(170, 170, 170, 0.3);
}

.stm_iconbox_style_14.stm_iconbox:before, .stm_iconbox_style_14.stm_iconbox:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    transition: all 0.5s;
}

.stm_iconbox_style_14.stm_iconbox h5 {
    font-size: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.stm_iconbox_style_14.stm_iconbox:after {
    width: 0;
}

.stm_iconbox_style_14.stm_iconbox__icon-left .stm_iconbox__icon {
    margin-right: 15px;
}

.stm_iconbox_style_14.stm_iconbox__icon-right {
    margin-left: 15px;
}

.stm_iconbox_style_14.stm_iconbox:hover:after {
    width: 100%;
}

.stm_iconbox_style_14 .stm_iconbox__text {
    display: inline;
}

.stm_iconbox_style_14 .stm_iconbox__desc p {
    font-size: 14px !important;
    line-height: 24px !important;
    margin-bottom: 0;
}
