.stm_custom_menu_style_2 .menu {
    margin: 0 0 0 -15px;
}

.stm_custom_menu_style_2 .menu li {
    float: left;
    width: 50%;
    padding: 0 15px !important;
}

.stm_custom_menu_style_2 .menu li a:hover {
    color: #fff;
}
