/*COLORS*/
/*FONTS*/
/*COLORS*/
/*FONTS*/
ul.stm_staff__socials {
    margin-bottom: 0;
}

ul.stm_staff__socials li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    font-size: 18px;
}

ul.stm_staff__socials li:last-child {
    margin-right: 0;
}

ul.stm_staff__socials li a {
    color: #cbcbcb;
    display: block;
    width: 37px;
    height: 37px;
    line-height: 31px;
    border: 3px solid #cbcbcb;
    text-align: center;
}

@media (max-width: 550px) {
    ul.stm_staff__socials li {
        margin-right: 5px;
    }
}

.stm_staff_container__carousel {
    margin: 0 -15px;
}

.stm_staff_container__carousel .owl-carousel {
    margin: 0;
}

.stm_staff_container__carousel .owl-carousel .owl-item > div {
    width: 100%;
    float: none;
}

@media (max-width: 769px) and (min-width: 425px) {
    .stm_staff_container_grid .col-sm-6 {
        float: left;
        width: 50%;
    }

    .stm_staff_container_grid .col-sm-6:nth-child(2n+1) {
        clear: both;
    }
}

@media (max-width: 425px) {
    .stm_staff_container_grid .col-sm-6 {
        width: 100%;
    }
}

.stm_staff_list_style_5 {
    margin-bottom: 62px;
    border-top: 5px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.stm_staff_list_style_5 .stm_staff__image {
    width: 253px;
    float: left;
    padding: 35px 30px 0 30px;
    margin: 0;
    border-right: 1px solid #e4e4e4;
    text-align: center;
}

.stm_staff_list_style_5 .stm_staff__image img {
    border-radius: 50%;
    margin-bottom: 25px;
}

.stm_staff_list_style_5 .stm_staff__info {
    padding: 30px 40px;
    overflow: hidden;
}

.stm_staff_list_style_5 .stm_staff__info p {
    font-size: 15px;
    line-height: 30px;
}

.stm_staff_list_style_5 .stm_staff__name {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1;
}

.stm_staff_list_style_5 .stm_staff__name:before {
    margin-bottom: 10px;
}

.stm_staff_list_style_5 .stm_staff__links {
    margin: 25px 0 10px;
}

.stm_staff_list_style_5 .stm_staff__links:after {
    content: '';
    display: block;
    clear: both;
}

.stm_staff_list_style_5 .stm_staff__job {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1;
    color: #B2B2B2;
    font-weight: 300;
}

.stm_staff_list_style_5 .stm_staff__socials {
    position: relative;
    margin: 15px -30px -1px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    border-top: 1px solid #e4e4e4;
}

.stm_staff_list_style_5 .stm_staff__socials:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #e4e4e4;
}

.stm_staff_list_style_5 .stm_staff__socials:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    right: -1px;
    width: 1px;
    height: 1px;
    background-color: #e4e4e4;
}

.stm_staff_list_style_5 .stm_staff__socials li {
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin: 0;
    border-right: 1px solid #e4e4e4;
}

.stm_staff_list_style_5 .stm_staff__socials li a {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border: 0;
    color: #b2b2b2 !important;
}

.stm_staff_list_style_5 .stm_staff__socials li a:hover {
    color: inherit !important;
}

.stm_staff_list_style_5 .stm_staff__socials li:last-child {
    border-right: 0;
}

.stm_staff_list_style_5 .btn {
    margin-right: 30px;
    float: left;
}

.stm_staff_list_style_5 .stm_separator {
    margin: 15px 0 10px;
}

.stm_staff_list_style_5 .stm_separator {
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

@media (max-width: 550px) {
    .stm_staff_list_style_5 .stm_staff__image {
        float: none;
        width: 100%;
        border-right: 0;
        margin: 0 auto 40px;
    }

    .stm_staff_list_style_5 .btn {
        margin-right: 10px;
    }
}
