@charset "UTF-8";
/*COLORS*/
/*FONTS*/
/*COLORS*/
/*FONTS*/
.stm_woo_products .owl-carousel {
    width: auto !important;
}

.stm_woo_products .product {
    padding: 0 15px;
}

.stm_woo_products .product a {
    color: #000 !important;
}

.stm_woo_products .product a:hover {
    text-decoration: none;
}

.stm_woo_products .product:hover .stm_single_product__image:before {
    opacity: 0.5;
}

.stm_woo_products .product:hover .stm_single_product__image:after {
    opacity: 0.5;
}

.stm_woo_products .product:hover .stm_single_product__image .yith-wcwl-add-to-wishlist a {
    opacity: 1;
    top: 0;
}

.stm_woo_products .product:hover .stm_single_product__image .stm_single_product__more {
    opacity: 1;
    top: auto;
    bottom: 0;
}

.stm_woo_products .product:hover .stm_single_product__image .stm_single_product__more i {
    font-size: 20px;
}

.stm_woo_products .product:hover .stm_single_product__image .stm_single_product__more:active {
    text-decoration: none;
}

.stm_woo_products .product:hover .stm_single_product__meta {
    background: transparent !important;
}

.stm_woo_products .product:hover .stm_single_product__meta a .price {
    color: #808080 !important;
}

.stm_woo_products .product:hover .stm_single_product__meta a .price span {
    color: #000 !important;
}

.stm_woo_products .product:hover .stm_single_product__meta a .price ins {
    color: #000 !important;
}

.stm_woo_products .product:hover .stm_single_product__meta a .price del {
    color: #808080 !important;
}

.stm_woo_products .product:hover .stm_single_product__meta a .price del span {
    color: #808080 !important;
}

.stm_woo_products .product:hover .stm_single_product__meta .button {
    opacity: 1;
}

.stm_woo_products .product .stm_single_product__image {
    position: relative;
}

.stm_woo_products .product .stm_single_product__image:before {
    content: "";
    position: absolute;
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;
    border: 2px solid #fff;
    z-index: 10;
    opacity: 0;
}

.stm_woo_products .product .stm_single_product__image .onsale {
    top: 20px;
    right: auto;
    left: 15px;
    padding: 3px 11px;
    min-width: 0;
    min-height: 0;
    line-height: 18px;
    border-radius: 0;
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
}

.stm_woo_products .product .stm_single_product__image:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: .3s ease;
}

.stm_woo_products .product .stm_single_product__image .stm_single_product__button_selectors {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -70px;
    height: 100px;
}

.stm_woo_products .product .stm_single_product__image .stm_single_product__button_selectors.stm_has_wishlist {
    height: 140px;
}

.stm_woo_products .product .stm_single_product__image .yith-wcwl-add-to-wishlist .feedback {
    display: none;
}

.stm_woo_products .product .stm_single_product__image .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddresponse {
    display: none !important;
}

.stm_woo_products .product .stm_single_product__image .yith-wcwl-add-to-wishlist a {
    position: absolute;
    top: 55px;
    z-index: 10;
    left: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    font-size: 0;
    opacity: 0;
    transition: .3s ease;
}

.stm_woo_products .product .stm_single_product__image .yith-wcwl-add-to-wishlist .yith-wcwl-add-button {
    margin-top: 0;
}

.stm_woo_products .product .stm_single_product__image .yith-wcwl-add-to-wishlist .yith-wcwl-add-button img {
    display: none !important;
}

.stm_woo_products .product .stm_single_product__image .yith-wcwl-add-to-wishlist .yith-wcwl-add-button.show a:before {
    content: "󙀓" !important;
    font-family: 'stmicons' !important;
    font-size: 18px;
    position: relative;
    z-index: 20;
}

.stm_woo_products .product .stm_single_product__image .yith-wcwl-add-to-wishlist .yith-wcwl-add-button.show a:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
}

.stm_woo_products .product .stm_single_product__image .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse,
    .stm_woo_products .product .stm_single_product__image .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse {
    margin-top: 0;
}

.stm_woo_products .product .stm_single_product__image .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse.show a:before,
      .stm_woo_products .product .stm_single_product__image .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse.show a:before {
    content: "󙀄" !important;
    font-family: 'stmicons' !important;
    font-size: 18px;
    position: relative;
    z-index: 20;
}

.stm_woo_products .product .stm_single_product__image .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse.show a:hover,
      .stm_woo_products .product .stm_single_product__image .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse.show a:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
}

.stm_woo_products .product .stm_single_product__image .stm_single_product__more {
    position: absolute;
    top: auto;
    bottom: 54px;
    z-index: 10;
    left: 50%;
    width: 60px;
    height: 60px;
    line-height: 70px;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
    transition: .3s ease;
}

.stm_woo_products .product .stm_single_product__image .stm_single_product__more:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.stm_woo_products .product .stm_single_product__image .stm_single_product__more i {
    font-size: 23px;
}

.stm_woo_products .product .stm_single_product__image .stm_single_product__more i.stmicon-zoom-in3 {
    width: 100%;
    height: 100%;
}

.stm_woo_products .product .stm_single_product__meta {
    background: transparent !important;
}

.stm_woo_products .product .stm_single_product__meta .woocommerce-loop-product__title {
    margin-top: 34px;
    margin-bottom: 12px;
    padding: 0;
    font-weight: 400 !important;
    text-transform: uppercase;
    line-height: 22px !important;
    letter-spacing: 2px !important;
    font-size: 14px !important;
}

.stm_woo_products .product .stm_single_product__meta .woocommerce-loop-product__title:before {
    display: none !important;
}

.stm_woo_products .product .stm_single_product__meta .woocommerce-loop-product__title:after {
    display: none !important;
}

.stm_woo_products .product .stm_single_product__meta:hover {
    text-decoration: none;
}

.stm_woo_products .product .stm_single_product__meta .price {
    font-size: 1.2em;
}

.stm_woo_products .product .stm_single_product__meta .price span {
    font-weight: 400;
}

.stm_woo_products .product .stm_single_product__meta .price ins {
    float: left;
    margin-right: 20px;
}

.stm_woo_products .product .stm_single_product__meta .added_to_cart.wc-forward {
    display: none;
}

.stm_woo_products .product .stm_single_product__meta .add_to_cart_button:after {
    display: none !important;
}

.stm_woo_products .product .button {
    float: right;
    margin-top: 1em;
    padding: 0 !important;
    background: transparent !important;
    font-size: 0.9em !important;
    transition: all 0.3s;
    opacity: 0;
}

.stm_woo_products .product .button:before {
    content: "󙀎" !important;
    font-family: 'stmicons' !important;
    display: inline-block;
    vertical-align: top;
    margin: -6px 10px 0 0;
    font-weight: normal;
    font-size: 20px;
}

.stm_woo_products .product .button.added:before {
    content: "󙀃" !important;
    font-family: 'stmicons' !important;
}

.stm_woo_products .product .button:hover {
    background: transparent !important;
}

.stm_woo_products .product .star-rating {
    display: none;
}
