<div ng-class="'stm_to_builder-element__popup stm_to_builder-element_' + vm.element.type + '__popup'">
    <h4 ng-bind="vm.element.label"></h4>
    <md-tabs>
        <md-tab label="main">
            <div uib-dropdown auto-close="outsideClick" is-open="vm.isopen">

                <div class="stm_to-builder__icon_picker">
                    <i class="fa fa-close" ng-click="vm.element.data.icon = ''"></i>

                        <div class="stm_to-builder__open-icons" icons-list icon="vm.element.data.icon">
                            <i ng-class="(vm.element.data.icon) ? vm.element.data.icon : 'fa fa-plus'" class="select-icon"></i>
                            Button Icon
                        </div>
                </div>

            </div>
            <div class="input-group">
                <span class="input-group-addon">Button text</span>
                <input type="text"
                       class="form-control"
                       ng-model="vm.element.data.text"
                       placeholder="Enter text">
            </div>
            <div class="input-group">
                <span class="input-group-addon">Button Description</span>
                <input type="text"
                       class="form-control"
                       ng-model="vm.element.data.description"
                       placeholder="Enter description">
            </div>
            <div class="input-group">
                <span class="input-group-addon">Button URL</span>
                <input type="text"
                       class="form-control"
                       ng-model="vm.element.data.url"
                       placeholder="Enter URL">
            </div>
        </md-tab>
        <!--Responsive-->
        <md-tab label="responsive">
            <div class="stm_to-builder__margins" layout>
                <div flex="33">
                    <div class="stm_to-builder__margins-box default">
                        <h5>Desktop Margins</h5>
                        <input type="text"
                               ng-model="vm.element.margins.default.top"
                               placeholder="-"
                               class="top">
                        <input type="text"
                               ng-model="vm.element.margins.default.right"
                               placeholder="-"
                               class="right">
                        <input type="text"
                               ng-model="vm.element.margins.default.bottom"
                               placeholder="-"
                               class="bottom">
                        <input type="text"
                               ng-model="vm.element.margins.default.left"
                               placeholder="-"
                               class="left">
                    </div>
                </div>
                <span flex="5"></span>
                <div flex="33">
                    <div class="stm_to-builder__margins-box tablet">
                        <h5>Tablet Margins</h5>
                        <input type="text"
                               ng-model="vm.element.margins.tablet.top"
                               placeholder="-"
                               class="top">
                        <input type="text"
                               ng-model="vm.element.margins.tablet.right"
                               placeholder="-"
                               class="right">
                        <input type="text"
                               ng-model="vm.element.margins.tablet.bottom"
                               placeholder="-"
                               class="bottom">
                        <input type="text"
                               ng-model="vm.element.margins.tablet.left"
                               placeholder="-"
                               class="left">
                    </div>
                </div>
                <span flex="5"></span>
                <div flex="33">
                    <div class="stm_to-builder__margins-box mobile">
                        <h5>Mobile Margins</h5>
                        <input type="text"
                               ng-model="vm.element.margins.mobile.top"
                               placeholder="-"
                               class="top">
                        <input type="text"
                               ng-model="vm.element.margins.mobile.right"
                               placeholder="-"
                               class="right">
                        <input type="text"
                               ng-model="vm.element.margins.mobile.bottom"
                               placeholder="-"
                               class="bottom">
                        <input type="text"
                               ng-model="vm.element.margins.mobile.left"
                               placeholder="-"
                               class="left">
                    </div>
                </div>
            </div>
        </md-tab>
    </md-tabs>

    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()">
            Cancel
        </md-button>
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="vm.saveElement(vm.element)">
            Save
        </md-button>
    </md-dialog-actions>

</div>