/*COLORS*/
/*FONTS*/
/*COLORS*/
/*FONTS*/
body.stm_header_offset .stm_titlebox {
    margin-top: -92px;
}

@media (max-width: 1023px) {
    body.stm_header_offset .stm_titlebox {
        margin-top: 0;
    }
}

.stm_titlebox {
    position: relative;
    margin-bottom: 60px;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.stm_titlebox:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.stm_titlebox__actions, .stm_titlebox__inner {
    position: relative;
    z-index: 15;
}

.stm_titlebox__inner {
    -ms-flex: 1;
    flex: 1;
}

.stm_titlebox__author {
    margin-top: 55px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
}

.stm_titlebox__author .stm_titlebox__author_avatar {
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.stm_titlebox__author .stm_titlebox__author_name:after {
    content: ' / ';
}

.stm_titlebox_text-right {
    text-align: right;
}

.stm_titlebox_text-right .stm_separator {
    margin-left: auto;
}

.stm_titlebox_text-right .stm_titlebox__actions {
    -ms-flex-order: -1;
    order: -1;
    margin-right: auto;
    margin-left: inherit !important;
    padding-left: 0 !important;
    padding-right: 15px;
}

.stm_titlebox_text-center {
    text-align: center;
}

.stm_titlebox_text-center .stm_flex {
    -ms-flex-pack: center;
    justify-content: center;
}

.stm_titlebox_text-center .stm_flex_last > *:last-child:not(:first-child) {
    margin-left: inherit;
    padding-left: 50px;
}

.stm_titlebox_text-center .stm_separator {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 550px) {
    .stm_titlebox {
        padding-top: 30px;
    }

    .stm_titlebox__title.h2 {
        font-size: 24px;
        line-height: 28px;
    }

    .stm_titlebox__inner {
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
        text-align: left;
    }

    .stm_titlebox__actions {
        -ms-flex-order: 2;
        order: 2;
        padding: 0 !important;
        margin: 30px 0 !important;
    }
}

.stm_titlebox__overlay, .stm_titlebox__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.stm_titlebox__background {
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.stm_titlebox__overlay {
    display: none;
}

.stm_transparent_header_disabled .stm_titlebox_style_3 {
    padding: 50px 0;
}

.stm_title_box_enabled.stm_breadcrumbs_enabled .stm_titlebox {
    margin-bottom: 20px;
}

.stm_title_box_enabled.stm_breadcrumbs_enabled .stm_titlebox_style_2 {
    margin-bottom: 12px;
}

.stm_titlebox_style_6 {
    padding: 40px 0 40px;
}

.stm_titlebox_style_6 .stm_titlebox__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.stm_titlebox_style_6 .stm_titlebox__inner > div {
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.stm_titlebox_style_6 .stm_titlebox__inner .stm_titlebox__title {
    padding-right: 20%;
    text-transform: none !important;
}

.stm_titlebox_style_6 .stm_titlebox__inner .stm_breadcrumbs {
    margin: 0 0 5px;
    font-weight: 300;
    color: #fff !important;
    -ms-flex-order: -1;
    order: -1;
}

.stm_titlebox_style_6 .stm_titlebox__inner .stm_breadcrumbs a[property="item"] {
    color: #fff !important;
}

.stm_titlebox_style_6 .stm_titlebox__inner .stm_breadcrumbs a[property="item"]:hover {
    text-decoration: underline !important;
}
