/*COLORS*/
/*FONTS*/
.stm_services_style_13 .stm_services__image {
    margin: 0 auto 26px;
    width: 100%;
    max-width: 320px;
    position: relative;
    padding-bottom: 55.5%;
    border-radius: 10px;
    overflow: hidden;
}

.stm_services_style_13 .stm_services__image img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

.stm_services_style_13 .stm_services__image:hover img {
    transform: translate(-50%, -50%) scale(1.1);
}

.stm_services_style_13 .stm_services__title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 300;
}

.stm_services_style_13 .stm_services__title strong {
    font-weight: bold;
}
