$icomoon-font-family: "stmicons" !default;
$icomoon-font-path: "fonts" !default;

$stmicon-logisticstwo-truck: "\f900";
$stmicon-logisticstwo-air-freight: "\f901";
$stmicon-logisticstwo-box: "\f902";
$stmicon-logisticstwo-briefcase: "\f903";
$stmicon-logisticstwo-clipboards: "\f904";
$stmicon-logisticstwo-list: "\f905";
$stmicon-logisticstwo-ship: "\f906";
$stmicon-logisticstwo-team: "\f907";

