/*COLORS*/
/*FONTS*/
ul.page-numbers {
    padding-left: 0;
}

ul.page-numbers li {
    list-style: none;
    float: left;
}

ul.page-numbers .page-numbers {
    text-decoration: none !important;
}

.slick-dots li {
    position: relative;
    padding: 11px 10px;
    cursor: pointer;
}

.slick-dots li.slick-active:before {
    transform: scale(1.4);
}

.slick-dots li:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #b8b8b8;
    border-radius: 50%;
}

ul.page-numbers {
    position: relative;
    margin: 15px 0 40px 0;
    padding: 30px 0 0 6px;
    text-align: center;
}

ul.page-numbers:after {
    content: '';
    clear: both;
    display: table;
}

ul.page-numbers li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    float: none;
    margin: 0 7px;
}

ul.page-numbers li:last-child {
    margin-right: 0;
}

ul.page-numbers li:first-child {
    margin-left: 0;
}

ul.page-numbers li.stm_prev {
    float: left;
}

ul.page-numbers li.stm_next {
    float: right;
}

ul.page-numbers .page-numbers {
    position: relative;
    display: block;
    min-width: 36px;
    height: 36px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    font-weight: 800;
    color: #222;
    border: 2px solid transparent;
    border-radius: 50%;
    z-index: 15;
}

ul.page-numbers .page-numbers .fa {
    font-size: 12px;
}

ul.page-numbers .page-numbers.next, ul.page-numbers .page-numbers.prev {
    border-radius: 99px;
    font-size: 16px;
    line-height: 36px;
    padding: 0 17px;
    background-color: transparent !important;
}

ul.page-numbers .page-numbers.next {
    float: left;
}

ul.page-numbers .page-numbers.prev {
    float: right;
}

.stm_pagination_style_5 ul.page-numbers li .page-numbers.current,
.stm_pagination_style_5 ul.page-numbers li.stm_page_num .page-numbers:hover {
    color: #fff !important;
}

.owl-dots {
    margin: 0 -15px;
}

.owl-dots .owl-dot {
    display: inline-block;
    vertical-align: top;
    width: 9px;
    height: 9px;
    margin: 0 15px;
    background-color: #ccc;
    border-radius: 50%;
    transform: scale(1);
    transition: all .3s ease;
}

.owl-dots .owl-dot.active {
    transform: scale(1.4);
}
