@charset "UTF-8";
/*COLORS*/
/*FONTS*/
ul.page-numbers {
    padding-left: 0;
}

ul.page-numbers li {
    list-style: none;
    float: left;
}

ul.page-numbers .page-numbers {
    text-decoration: none !important;
}

.slick-dots li {
    position: relative;
    padding: 11px 10px;
    cursor: pointer;
}

.slick-dots li.slick-active:before {
    transform: scale(1.4);
}

.slick-dots li:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #b8b8b8;
    border-radius: 50%;
}

.stm_pagination_style_10 .owl-dots {
    margin-top: 15px;
}

.stm_pagination_style_10 .owl-dots .owl-dot {
    width: 6px;
    height: 6px;
    margin: auto 10px !important;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.15);
    transition: all .3s ease;
}

.stm_pagination_style_10 .owl-dots .owl-dot:first-child {
    margin-left: 0 !important;
}

.stm_pagination_style_10 .owl-dots .owl-dot.active {
    transform: scale(1.3);
}

.stm_pagination_style_10 ul.page-numbers {
    position: relative;
    margin: 50px 0 40px 0;
    text-align: center;
    padding: 0 32px;
}

.stm_pagination_style_10 ul.page-numbers.stm_has_prev {
    padding-left: 0;
}

.stm_pagination_style_10 ul.page-numbers.stm_has_next {
    padding-right: 0;
}

.stm_pagination_style_10 ul.page-numbers:after {
    content: '';
    clear: both;
    display: table;
}

.stm_pagination_style_10 ul.page-numbers li {
    display: inline-block;
    vertical-align: top;
    float: none;
    margin: 0 11px 0 0;
}

.stm_pagination_style_10 ul.page-numbers li.stm_page_num span,
    .stm_pagination_style_10 ul.page-numbers li.stm_page_num a {
    min-width: 50px;
    min-height: 50px;
    font-size: 18px;
}

.stm_pagination_style_10 ul.page-numbers li.stm_page_num span:hover,
      .stm_pagination_style_10 ul.page-numbers li.stm_page_num a:hover {
    color: #fff;
}

.stm_pagination_style_10 ul.page-numbers li.stm_next a.page-numbers, .stm_pagination_style_10 ul.page-numbers li.stm_prev a.page-numbers {
    min-height: 50px;
    background-color: transparent !important;
}

.stm_pagination_style_10 ul.page-numbers li.stm_next a.page-numbers i, .stm_pagination_style_10 ul.page-numbers li.stm_prev a.page-numbers i {
    font-size: 18px;
}

.stm_pagination_style_10 ul.page-numbers li.stm_next {
    float: right;
    margin-right: 0;
}

.stm_pagination_style_10 ul.page-numbers li.stm_next a {
    padding-right: 0;
}

.stm_pagination_style_10 ul.page-numbers li.stm_next i:before {
    content: "" !important;
    font-family: 'stmicons' !important;
}

.stm_pagination_style_10 ul.page-numbers li.stm_prev {
    float: left;
    margin-left: 0;
}

.stm_pagination_style_10 ul.page-numbers li.stm_prev a {
    padding-left: 0;
}

.stm_pagination_style_10 ul.page-numbers li.stm_prev i:before {
    content: "" !important;
    font-family: 'stmicons' !important;
}

.stm_pagination_style_10 ul.page-numbers li .page-numbers {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.stm_pagination_style_10 ul.page-numbers .page-numbers {
    display: block;
    min-width: 30px;
    height: 30px;
    text-align: center;
    padding: 7px 5px 0;
    font-size: 13px;
    line-height: 13px;
}

.stm_pagination_style_10 ul.page-numbers .page-numbers .fa {
    font-size: 12px;
}

.stm_pagination_style_10 ul.page-numbers .page-numbers.next {
    padding-top: 6px;
    padding-left: 8px;
}

.stm_pagination_style_10 ul.page-numbers .page-numbers.prev {
    padding-top: 6px;
    padding-right: 5px;
}

.stm_pagination_style_10 ul.page-numbers .page-numbers.current {
    color: #fff;
}

.stm_carousel .owl-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    overflow: hidden;
}

.stm_carousel .owl-nav .owl-prev,
  .stm_carousel .owl-nav .owl-next {
    top: auto;
    bottom: 10px;
    border: 0;
    background: transparent !important;
}

.stm_carousel .owl-nav .owl-prev:before,
    .stm_carousel .owl-nav .owl-next:before {
    color: #fff;
}

.stm_carousel .owl-nav .owl-prev {
    right: auto;
    left: 23px;
}

.stm_carousel .owl-nav .owl-prev:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 9999px;
    height: 9999px;
    left: -4444px;
    top: -4444px;
    background: rgba(0, 0, 0, 0.15);
}

.stm_carousel .owl-nav .owl-prev:before {
    content: "" !important;
    font-family: 'stmicons' !important;
}

.stm_carousel .owl-nav .owl-next {
    right: 23px;
}

.stm_carousel .owl-nav .owl-next:before {
    content: "" !important;
    font-family: 'stmicons' !important;
}

@media (max-width: 550px) {
    .stm_carousel.stm_carousel_style_1 .owl-controls {
        display: block !important;
    }
}
