.stm_album_info_style_2 .stm_album_info__song {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    cursor: pointer;
    transition: all .3s ease;
}

.stm_album_info_style_2 .stm_album_info__song:hover {
    background-color: #ebebeb;
}

.stm_album_info_style_2 .stm_album_info__song:hover .stm_album_info__song_links {
    opacity: 1;
    visibility: visible;
}

.stm_album_info_style_2 .stm_album_info__song_number {
    position: relative;
    min-width: 50px;
    text-align: center;
    color: #989898;
}

.stm_album_info_style_2 .stm_album_info__song_number .number {
    opacity: 1;
    visibility: visible;
}

.stm_album_info_style_2 .stm_album_info__song_number .audio-pause,
    .stm_album_info_style_2 .stm_album_info__song_number .audio-bodong {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .3s ease;
}

.stm_album_info_style_2 .stm_album_info__song_number .audio-bodong {
    margin: -13px 0 0 -10px;
}

.stm_album_info_style_2 .stm_album_info__song_number .audio-pause {
    margin: -10px 0 0 -10px;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #000;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    text-indent: 1px;
}

.stm_album_info_style_2 .stm_album_info__song_title {
    margin-right: auto;
    width: 250px;
}

@media (min-width: 1199px) {
    .stm_album_info_style_2 .stm_album_info__song_title {
        width: 150px;
    }
}

.stm_album_info_style_2 .stm_album_info__song_links {
    opacity: 0;
    visibility: hidden;
    margin-left: auto;
    padding-left: 25px;
    transition: all .3s ease;
}

.stm_album_info_style_2 .stm_album_info__song_links a {
    display: inline-block;
    padding: 3px 10px;
    color: #999999;
    text-decoration: none !important;
}

.stm_album_info_style_2 .stm_album_info__song_length {
    padding: 0 25px;
    margin-left: 0;
    justify-self: flex-end;
}

.stm_album_info_style_2 .stm_album_info__song .audio-pause,
  .stm_album_info_style_2 .stm_album_info__song .audio-bodong {
    opacity: 0;
    visibility: hidden;
}

.stm_album_info_style_2 .stm_album_info__song.playing .number, .stm_album_info_style_2 .stm_album_info__song.paused .number {
    opacity: 0;
    visibility: hidden;
}

.stm_album_info_style_2 .stm_album_info__song.paused .audio-pause {
    opacity: 1;
    visibility: visible;
}

.stm_album_info_style_2 .stm_album_info__song.playing {
    background-color: #ebebeb;
}

.stm_album_info_style_2 .stm_album_info__song.playing .stm_album_info__song_links,
    .stm_album_info_style_2 .stm_album_info__song.playing .audio-bodong {
    opacity: 1;
    visibility: visible;
}

.stm_album_info_style_2 .stm-album-info--left {
    position: relative;
    margin-bottom: 40px !important;
}

.stm_album_info_style_2 .stm-album-info--left img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 40px;
    box-shadow: 0 20px 40px rgba(51, 51, 51, 0.15);
    background-color: #ffffff;
}

@media (min-width: 1336px) {
    .stm_album_info_style_2 .stm-album-info--left {
        margin-right: 30px;
        margin-bottom: 0;
    }
}

@media (min-width: 991px) {
    .stm_album_info_style_2 .col-md-4 {
        width: 50%;
    }

    .stm_album_info_style_2 .col-md-8 {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .stm_album_info_style_2 .stm_album_info__song_title {
        width: 210px;
    }

    .stm_album_info_style_2 .stm_album_info__song_links a {
        display: inline-block !important;
    }
}

@media (max-width: 440px) {
    .stm_album_info_style_2 .stm_album_info__song_links {
        display: none;
    }
}
