@charset "UTF-8";

.stm-footer {
    padding-top: 0 !important;
}

.stm-footer .footer-widgets {
    padding-top: 50px;
}

.stm-audio-player > .container {
    position: relative;
}

.stm_audio__info {
    padding: 3px 0 3px;
    font-size: 13px;
}

.stm_audio__info label {
    margin-bottom: 0;
}

#audio-player {
    padding-top: 0;
    color: #fff;
    overflow: hidden;
}

#audio-player.fixed {
    left: 0;
    z-index: 2000;
}

#audio-player audio {
    width: 100% !important;
}

#audio-player .mejs-container {
    width: 100% !important;
    height: auto !important;
    background: transparent !important;
}

#audio-player .mejs-container:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    left: -4444px;
    width: 9999px;
    background: #18181a;
    z-index: 15;
}

#audio-player .mejs-container .mejs-mediaelement {
    visibility: hidden;
    z-index: -1;
}

#audio-player .mejs-container .mejs-inner {
    position: relative;
    padding: 10px 155px 10px 0;
    z-index: 25;
}

#audio-player .mejs-container .mejs-controls {
    position: static;
    background: transparent !important;
    white-space: nowrap;
}

#audio-player .mejs-container .mejs-controls .mejs-prevtrack-button,
      #audio-player .mejs-container .mejs-controls .mejs-playpause-button,
      #audio-player .mejs-container .mejs-controls .mejs-nexttrack-button,
      #audio-player .mejs-container .mejs-controls .mejs-time-rail,
      #audio-player .mejs-container .mejs-controls .mejs-time {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

#audio-player .mejs-container .mejs-controls .mejs-button button {
    background: none;
    font-size: 14px;
    outline: none !important;
}

#audio-player .mejs-container .mejs-controls .mejs-button button:after {
    content: '';
    display: block;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f04b";
    color: #fff;
}

#audio-player .mejs-container .mejs-controls .mejs-button.mejs-playpause-button {
    position: relative;
    top: -5px;
    left: -2px;
    height: 38px;
    width: 38px;
    border: 1px solid #fff;
    border-radius: 50%;
}

#audio-player .mejs-container .mejs-controls .mejs-button.mejs-playpause-button button {
    margin: 8px 0 0 11px;
}

#audio-player .mejs-container .mejs-controls .mejs-button.mejs-playpause-button.mejs-pause button {
    margin-left: 9px;
}

#audio-player .mejs-container .mejs-controls .mejs-button.mejs-playpause-button.mejs-pause button:after {
    content: "\f04c";
}

#audio-player .mejs-container .mejs-controls .mejs-button.mejs-prevtrack button {
    margin: 4px 15px 0 0;
    text-align: left;
}

#audio-player .mejs-container .mejs-controls .mejs-button.mejs-prevtrack button:after {
    content: "\f048";
}

#audio-player .mejs-container .mejs-controls .mejs-button.mejs-nexttrack {
    margin-left: 10px;
}

#audio-player .mejs-container .mejs-controls .mejs-button.mejs-nexttrack button {
    margin: 4px 15px 0 0;
}

#audio-player .mejs-container .mejs-controls .mejs-button.mejs-nexttrack button:after {
    content: "\f051";
}

#audio-player .mejs-container .mejs-controls .mejs-button.mejs-volume-button button:after {
    content: "\f028";
}

#audio-player .mejs-container .mejs-controls .mejs-button.mejs-volume-button.mejs-unmute button:after {
    content: "\f026";
}

#audio-player .mejs-container .mejs-controls .mejs-time {
    margin: -4px 10px 0 0;
    padding-top: 0;
}

#audio-player .mejs-container .mejs-controls .mejs-volume-button {
    position: absolute;
    top: 5px;
    right: 115px;
}

#audio-player .mejs-container .mejs-controls .mejs-horizontal-volume-slider {
    position: absolute;
    right: 0;
    top: 9px;
    width: 108px;
}

#audio-player .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    width: 108px;
    background: #0c0c0d !important;
}

#audio-player .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: none;
}

#audio-player .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current:after {
    content: '';
    position: absolute;
    right: -10px;
    top: -4px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
}

#audio-player .mejs-container .mejs-controls .mejs-time-rail {
    margin: 4px 0 0 0;
    padding-top: 0;
    outline: none !important;
}

#audio-player .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
    background: #0c0c0d !important;
}

#audio-player .mejs-container .mejs-controls .mejs-time-rail span {
    background: none;
    border-radius: 5px;
    outline: none !important;
}

#audio-player .mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: rgba(255, 255, 255, 0.1) !important;
}

#audio-player .mejs-container .mejs-controls .mejs-time-rail .mejs-time-float {
    display: none !important;
    color: #fff;
}

#audio-player .audio-title {
    padding-left: 30px;
}

.playing .audio-bodong span {
    -webkit-animation: bodong 0.8s infinite ease;
}

.playing .audio-bodong span:first-child {
    -webkit-animation-delay: .3s;
}

.playing .audio-bodong span:nth-child(2) {
    -webkit-animation-delay: .2s;
}

.playing .audio-bodong span:nth-child(3) {
    -webkit-animation-delay: .6s;
}

.audio-bodong {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: top;
    height: 20px;
}

.audio-bodong span {
    width: 3px;
    height: 11px;
    bottom: 0;
    position: absolute;
}

.audio-bodong span:first-child {
    height: 15px;
    left: 0;
}

.audio-bodong span:nth-child(2) {
    left: 6px;
}

.audio-bodong span:nth-child(3) {
    height: 11px;
    left: 12px;
}

/*POPUP*/
.stm_album__popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transform: scale(0.9);
    visibility: hidden;
    overflow: scroll;
    transition: .3s ease;
}

.stm_album__popup.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.stm_album__popup.inactive {
    opacity: 0;
    transform: scale(0.9);
    visibility: hidden;
}

.stm_album__popup .stm_album__close {
    position: absolute;
    right: 60px;
    top: 50px;
    width: 30px;
    height: 34px;
    z-index: 999;
    cursor: pointer;
    transition: .3s ease;
}

.stm_album__popup .stm_album__close:after, .stm_album__popup .stm_album__close:before {
    position: absolute;
    top: 0;
    right: 12px;
    content: '';
    display: block;
    width: 6px;
    height: 35px;
    background: #fff;
    transform: rotate(45deg);
    transition: .3s ease;
}

.stm_album__popup .stm_album__close:after {
    transform: rotate(-45deg);
}

.stm_album__popup .stm_album__close:hover {
    transform: scale(1.1);
}

.stm_album__popup .stm_album__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
}

.stm_album__popup > .container {
    position: relative;
    z-index: 50;
}

.stm_album__popup h2 {
    margin-top: 30px;
}

.stm_album__popup_image {
    display: inline-block;
    vertical-align: top;
    position: relative;
    min-height: 300px;
    background-color: #fff;
    border: 18px solid #fff;
}

.stm_album__popup_label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: -35px;
    padding: 3px 15px;
    z-index: 20;
}

.stm_album__popup_subtitle {
    margin-bottom: 40px;
    font-weight: 400;
}

.stm_album__popup__links {
    padding: 30px 0 15px;
    border: 2px solid #303033;
    border-left: 0;
    border-right: 0;
    margin: 20px 0 50px;
}

.stm_album__popup__links a {
    display: inline-block;
    vertical-align: top;
    margin: 0 25px 15px 0;
}

.audio-toggle {
    position: absolute;
    top: -27px;
    right: 15px;
    width: 36px;
    height: 27px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 27px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

.audio-toggle:after {
    display: block;
    transform: rotate(0deg);
    content: "" !important;
    font-family: 'stmicons' !important;
}

.audio-toggle.active:after {
    transform: rotate(180deg);
}

#audio-player__list {
    display: none;
    padding: 15px 0 30px;
}

#audio-player__list .stm_album_info__song {
    color: #fff;
}

#audio-player__list .stm_album_info__song_title {
    padding-left: 5px;
}

#audio-player__list .stm_album_info__song .stm_album_info__song_number .number {
    opacity: 1 !important;
    visibility: visible !important;
}

#audio-player__list .stm_album_info__song .stm_album_info__song_links {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 550px) {
    .stm_album__popup {
        padding: 75px 0;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .stm_album__popup .stm_album__close {
        right: 15px;
        top: 15px;
    }

    #audio-player {
        padding-top: 0;
    }

    #audio-player .container .row {
        display: none;
    }

    .stm_album_info__playlist .stm_album_info__song_title {
        width: 50% !important;
        padding-left: 0 !important;
    }

    .stm_album_info__playlist .stm_album_info__song_length {
        display: none !important;
    }

    .stm_album_info__playlist .stm_album_info__song_links {
        width: 50% !important;
        text-align: right;
    }

    .stm_album_info__playlist .stm_album_info__song_links a {
        display: none !important;
        padding-left: 5px;
        padding-right: 5px;
    }

    .stm_album_info__playlist .stm_album_info__song_links a:nth-child(1), .stm_album_info__playlist .stm_album_info__song_links a:nth-child(2), .stm_album_info__playlist .stm_album_info__song_links a:nth-child(3) {
        display: inline-block !important;
    }

    #audio-player .mejs-container .mejs-inner {
        padding-top: 12px;
    }
}

#audio-player .mejs-container .mejs-controls {
    height: 30px;
    padding: 0;
}

#audio-player .mejs-container .mejs-controls div {
    width: 26px;
    height: 26px;
    font-size: 11px;
    line-height: 35px;
}

#audio-player .mejs-horizontal-volume-slider {
    height: 26px;
    top: 4px !important;
}

#audio-player .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
  #audio-player .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    height: 8px !important;
}

#audio-player .mejs-time-handle,
#audio-player .mejs-time-float {
    display: none !important;
}

@media (max-width: 600px) {
    #audio-player .mejs-horizontal-volume-slider,
  #audio-player .mejs-time-rail,
  #audio-player .mejs-volume-button {
        display: none !important;
    }
}
